[2022-08-28 10:08] gadicc opened #1 "Big thanks :)"
Your first issue is a big thank you (and less than 24 hrs since you made the repo).  :tada:   The webui is a bit of a mission to get up and running on e.g. Linux without the author's Windows scripts.  This was an absolute pleasure!  :rocket:   So thanks for making and publishing.

[2022-08-28 10:33] AbdBarho commented on #1
@gadicc You are welcome :)

If there are any feature requests or improvements, feel free to create an issue and I will get to it as soon as I can.

Happy Prompting 🎉

[2022-08-29 01:29] turtleizzy opened #2 "no src folder in stable-diffusion directory after image creation"
Following error poped up after building image.

[code]

[code]

[2022-08-29 03:53] AbdBarho commented on #2
What does your `models` folder contain? Did you download [GFPGANv1.3.pth](https://github.com/AbdBarho/stable-diffusion-webui-docker#setup) and put it into the `models` folder?

I have just pushed an update that makes the additional models optional, an error will be thrown in the console but that is okay. Can you try again from the latest master?

[2022-08-29 05:09] turtleizzy commented on #2
Yes, I did have all the models in `models/` folder.
Fixed by adding `mkdir` prior to `ln`.

[code]

[2022-08-29 06:13] AbdBarho commented on #2
Great! I have adapted your code and added it into the docker file.

https://github.com/AbdBarho/stable-diffusion-webui-docker/commit/2ecfb0fe59220d59b1cc41c9e786946a18efd003

Thanks!

[2022-08-29 06:13] #2 closed

[2022-08-29 06:45] sausax opened #3 "Getting an error due to missing checkpoint file"
Getting following error after running `docker-compose up --build`

[code]

[2022-08-29 06:55] sausax commented on #3
missed the point in readme

[2022-08-29 07:09] AbdBarho commented on #3
Hi @sausax, glad your problem got fixed. However, this could be an indicator that the README or documentation in general is not clear or user-friendly enough, and some stuff might get lost under the rug.

If you feel that that is the case, I am very open to suggestions on how to improve the documentation. If not, please close this issue (again).

[2022-08-29 13:41] Neltherion opened #4 "Failed Inference with GFPGAN"
I get this error when trying to use GFPGAN:

`Failed inference for GFPGAN: Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same or input should be a MKLDNN tensor and weight is a dense tensor`.

Should some flag be set to avoid using Torch's `FloatTensor`?

[2022-08-29 13:51] UnironicHeyMoon opened #5 "AMD Support?"
Hello,

First of all, brilliant idea to make a docker image for this, this is very cool 👍

When I started up the docker image, I got this error

[code]

Obviously that doesn't tell us very much 😁 However, I have a theory that it may be the result of me using an AMD graphics card. The other day when I was trying to get SD working on my machine, I ran into a lot of problems around making SD work wit

[2022-08-29 15:49] AbdBarho commented on #5
hi @UnironicHeyMoon, unfortunately, this repository only provides the docker containers, if you have any problems with the app it self (which seems to be the case here), you have to check in with the original repo: https://github.com/hlky/stable-diffusion

I know that there were versions that managed to run it on metal / macOS, but no idea if they managed with AMD GPU. I am sorry I cannot help you

[2022-08-29 15:49] AbdBarho commented on #4
@Neltherion  What are your cli flags?

[2022-08-29 18:11] AbdBarho commented on #4
I have just released a new update, can you check if this is still a problem on the latest master?

[2022-08-29 22:55] sausax commented on #3
No....docs are clear. I was just to0 impatient.

[2022-08-29 22:55] #3 closed

[2022-08-29 22:57] sausax opened #6 "Please add support to upload textual inversion embedding"
Please add changes required to support upload of textual inversion embeddings as mentioned here: https://github.com/hlky/sd-enable-textual-inversion

[2022-08-30 00:54] UnironicHeyMoon commented on #5
aww, well, thanks anyways!

[2022-08-30 00:54] #5 closed

[2022-08-30 04:13] AbdBarho commented on #6
I will give it a look today after work!

[2022-08-30 09:00] Niek opened #7 "Build & publish docker image"
It would be nice to build and publish the docker image on commit, using e.g. https://github.com/marketplace/actions/build-and-push-docker-images

That way, the setup will become a lot easier as well:
[code]

[2022-08-30 09:10] AbdBarho commented on #7
@Niek  sounds like a cool idea! I will give it a look in the evening and come back to you.

[2022-08-30 14:19] AbdBarho commented on #4
@elyxlz did you change anything in the docker-compose file? what is your OS and GPU?

[2022-08-30 15:16] Neltherion commented on #4
Linux Ubuntu 20.04 LTS
NVIDIA 3080 RTX

[2022-08-30 15:23] elyxlz commented on #4
No it's the default installation. Windows 11, NVIDIA 2080ti

[2022-08-30 15:57] AbdBarho commented on #4
I think I managed to reproduce the problem, this happens when this checkbox is activated, is this correct @Neltherion @elyxlz ?

![Screenshot 2022-08-30 175526](https://user-images.githubusercontent.com/24505302/187484303-a9f3d0e4-e95b-40ef-b77e-9e63e2abb0b9.jpg)

[2022-08-30 16:14] elyxlz commented on #4
@AbdBarho Yes, but it also occurred on the specific GFPGAN tab when I uploaded an image and attempted.

[2022-08-30 16:25] AbdBarho commented on #4
@elyxlz  I managed to pinpoint the problem to this line:

https://github.com/hlky/stable-diffusion/blob/main/scripts/webui.py#L851

I will get back to you when its fixed!

[2022-08-30 16:58] AbdBarho commented on #4
The problem seems to be with the `facexlib` library that is used to detect faces within GFPGAN.

This library defines a [global device object](https://github.com/xinntao/facexlib/blob/master/facexlib/detection/retinaface.py#L14). if the machine supports cuda, then the image is [moved to the GPU](https://github.com/xinntao/facexlib/blob/master/facexlib/detection/retinaface.py#L200). The library doe

[2022-08-30 17:34] AbdBarho commented on #6
@sausax Unfortunately, the UI in its latest version does not seems to provide a file upload for the pre-made embedding, [unlike what is mentioned here](https://github.com/hlky/sd-enable-textual-inversion#how-to-use), or at least I could not find it, therefore I cannot implement / test this feature.

if you know where I can find it that would be great! otherwise I would suggest you get in contact w

[2022-08-30 19:29] sausax commented on #6
This is weird. The code is present here in the original repo: https://github.com/hlky/stable-diffusion-webui/blob/master/frontend/frontend.py#L99

But it is not coming up in the ui by the docker container.

[2022-08-30 19:41] AbdBarho commented on #4
The author of the WebUI has forked the original library and moved the model to the CPU!

More info here: https://github.com/hlky/stable-diffusion/issues/130

I think your problem should be now solved. Feel free to reopen if the problem persists.

[2022-08-30 19:41] #4 closed

[2022-08-30 19:49] AbdBarho commented on #6
The model needs to have the an [`embedding_manager` attribute](https://github.com/hlky/stable-diffusion-webui/blob/master/webui.py#L1583), which seems to be done [here](https://github.com/hlky/sd-enable-textual-inversion/blob/main/ldm/models/diffusion/ddpm.py#L488), However, the `LatentDiffusion` class is NOT instantiated in the [WebUI](https://github.com/hlky/stable-diffusion-webui/blob/master/we

[2022-08-30 20:06] fpgaminer commented on #6
https://github.com/hlky/sd-enable-textual-inversion/blob/08f9b5046552d17cf7327b30a98410222741b070/configs/stable-diffusion/v1-inference.yaml#L20

The sd-enable repo also has a modified config, which includes a `personalization_config` key.  Does that perhaps get the WebUI to change its behavior?

[2022-08-30 20:11] AbdBarho commented on #6
@fpgaminer it might be that [`cp -rf` that I used](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/19f940207622ed82d887289aa53b88713b6094f3/build/Dockerfile#L34) is not enough, I will dig deeper!

[2022-08-30 20:50] AbdBarho commented on #6
I have made sure that the the new configuration is included. In the attached log you can see that the `personalization_config` is part of main repo.

[log.txt](https://github.com/AbdBarho/stable-diffusion-webui-docker/files/9456534/log.txt)

Yet still, I can't see anything new in the UI
![localhost_7860_](https://user-images.githubusercontent.com/24505302/187540068-fcf10063-6a88-4c1e-87d7-0e3106f4

[2022-08-30 22:59] fpgaminer commented on #6
Remove the `--optimized` and `--optimized-turbo` flags and the UI will show:

<img width="784" alt="Screen Shot 2022-08-30 at 3 59 22 PM" src="https://user-images.githubusercontent.com/1585817/187558102-ad35e079-b0ef-4541-b6bb-b50e552f94f1.png">

[2022-08-30 23:10] fpgaminer commented on #6
Okay, got it fully working. Also need to add the `--no-half` flag, otherwise it errors out during generation.  Tested using my own embedding.  FYI, textual inversion doesn't work great for SD right now anyway.  I think they have it tweaked for plain Latent Diffusion, not the specific Stable Diffusion model.  So we'll need to wait for another update there to get better results.

<img width="1587" a

[2022-08-30 23:16] sausax commented on #6
@fpgaminer can you create a PR with the fix ?

[2022-08-30 23:29] OmicronXNor opened #8 "NSFW Filter"
It's unclear to me whether or not this build has the NSFW filter option activated or not. Regardless of the default, it would be good if this could be toggled within the webUI so that users can decide whether or not they would like to generate those sorts of images. Is that an easy thing to do?

[2022-08-31 04:53] AbdBarho commented on #8
TLDR: No NSFW filter, not yet at least.

This repo provides the [WebUI](https://github.com/hlky/stable-diffusion-webui) as a docker container, and does not add any features. So, the NSFW filter should be implemented there.

Looking through the discussions [here](https://github.com/hlky/stable-diffusion-webui/discussions/218) and [here](https://github.com/hlky/stable-diffusion-webui/issues/160), it

[2022-08-31 04:53] #8 closed

[2022-08-31 05:29] Neltherion commented on #4
Thanks for the detailed explanations.

Another unrelated question: If I `pull` your repo from Git again and then try to build the docker image, does the new build procedure also get the latest WebUI version or does it use the cached version?

[2022-08-31 05:52] kittyinc opened #9 "Output is a green image"
Specs:

CPU: Ryzen 3600
RAM : 16 GB
GPU: 1660 Super 6GB

- Running through WSL2 docker backend.
- CUDA works inside docker (checked with nvidia-smi docker image)
- Tried lowering resolution to 64x64 , closed all GPU accelerated programs.
- Tried running with default args
- Tried with --precision full and --precision full + default args:

Output for --precision full in both cases:
[code]

[2022-08-31 06:25] AbdBarho commented on #4
@Neltherion there are two aspect to you question:

**docker compose:**

if you run `docker compose up` then it will use the old cached image and you will not get the latest changes, however with `docker compose up --build`, docker will rebuild the image (or at least only the stuff that has changed) and so you will get the latest version.

**docker image**
docker compose knows that the image needs

[2022-08-31 06:27] AbdBarho commented on #9
@kittyinc is this related to your issue ? https://github.com/hlky/stable-diffusion-webui/issues/34

[2022-08-31 06:37] kittyinc commented on #9
@AbdBarho yes, sorry if I created this issue in the wrong repo, I swear I searched everywhere haha.

I'll continue the discussion there, thanks!

[2022-08-31 06:45] AbdBarho commented on #9
No problem!

I will leave this issue open in the mean time, perhaps someone else has the same problem.

[2022-08-31 09:17] Neltherion commented on #4
Thanks for all the responses so far.

So If I'm not mistaken you're changing the hardcoded commit SHA every time you push an update of your repo to stay updated with the latest WebUI version?

Thanks again.

[2022-08-31 09:44] AbdBarho commented on #4
Yes! additionally, I go through all new commits in the WebUI repo to see what has changed and if I need to update the dependencies and / or dockerfile, and test the newest version on my pc.

[2022-08-31 10:46] timbennett opened #11 "facexlib version conflict: gfpgan 1.3.4 depends on facexlib>=0.2.5"
I received this error when building the repo a few minutes ago. Another user has explored it in more detail here: https://github.com/hlky/stable-diffusion/issues/169

[2022-08-31 11:11] Neltherion opened #12 "The Application Freezes When Trying Batch Sizes Higher Than One"
Hi

I'm trying your latest version and whenever I try to use batch sizes higher than 1, the program freezes like this:

![image](https://user-images.githubusercontent.com/22426131/187664755-b12b9e26-a763-4283-aaf8-c34d7d727dee.png)

[2022-08-31 11:50] AbdBarho commented on #11
Related https://github.com/hlky/stable-diffusion-webui/issues/360

[2022-08-31 11:52] AbdBarho commented on #12
This is probably the same issue as here: https://github.com/hlky/stable-diffusion-webui/issues/337

It is part of the UI and not the docker setup, so I can't do anything about it.

[2022-08-31 15:52] AbdBarho commented on #11
@timbennett the problem should be fixed, I have rebuilt the container from scratch using latest commit and it worked fine, I have released `0.0.13`, can you give it a try?

[2022-08-31 15:55] AbdBarho commented on #12
@Neltherion It seems that the problem won't be fixed soon, you might want to try running again without `--optimized` or `--optimized-turbo` cli args (if it fits on you GPU), because that seems to be the cause of the problem...

[2022-08-31 16:23] AbdBarho commented on #6
Thanks @fpgaminer I managed to get it up and running with the correct cli args, I also updated the Readme.

@sausax Can you try from again with version `0.1.0`?

[2022-08-31 17:41] AbdBarho commented on #7
@Niek I have some questions, and I would like to hear your opinion.

I was wondering how would that work with the model weights. I can put the weights into the docker image, but I question the legality of this approach.

I am considering moving the download of models to the `CMD` or `ENTRYPOINT` of the dockerfile, but this defeats the purpose of publishing a docker image, because if the links brea

[2022-08-31 18:10] Niek commented on #7
@AbdBarho You have a volume mount for the models - what you could do is add a small check in `CMD` where you point users to the model download URL if no model is found and `exit 1`. It would be nice to automate that but as said that's probably not very legal.

[2022-08-31 18:28] gadicc commented on #7
Hey all.  I'm using https://github.com/bananaml/serverless-template-stable-diffusion in another project, and they retrieve the model through a HuggingFace API key that you place in the Dockerfile (which in our case, we could provide via an environment variable on the command line).  They explain the process quite nicely in the README, and have a `download.py` file there.

[2022-08-31 19:21] bx00000013 commented on #9
To get it to work on my 1660 Super I had to edit the docker-compose.yml file and change the CLI_ARGS to --extra-models-cpu --optimized --precision full --no-half

[2022-08-31 20:03] AbdBarho commented on #9
That's great news @bx00000013!, @kittyinc can you please try the suggestion to see if it solves your problem?

[2022-08-31 20:11] kittyinc commented on #9
@AbdBarho I can confirm that this solves the problem.

I think it has to do with the 16XX series lacking tensor cores, I think that the --precission full --no-half flags force this to run in FP16

[2022-08-31 20:32] #9 closed

[2022-08-31 20:46] sausax commented on #6
@AbdBarho Getting a new error when trying to build the latest master

[2022-08-31 20:50] timbennett commented on #11
Thanks, it has built correctly now. No further issues.

On Thu, 1 Sept 2022, 1:53 am AbdBarho, ***@***.***> wrote:

[2022-08-31 20:53] #11 closed

[2022-08-31 20:56] AbdBarho commented on #6
@sausax can you try again with `docker compose` instead of `docker-compose`? one of them is v1 the other one is v2.

I am using Heredoc syntax which is modern feature, you need a relatively modern docker version (from the last half year or so)

[2022-09-01 04:31] AbdBarho commented on #12
@Neltherion I updated the docker image, can you try again with latest master? the problem should be fixed

[2022-09-01 05:47] sausax commented on #6
That worked :) Thanks @AbdBarho

[2022-09-01 05:47] #6 closed

[2022-09-01 06:38] pixartist opened #16 "Compose won't build"
**Has this issue been opened before? Check issues [here](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue) and in [this one as well](https://github.com/hlky/stable-diffusion-webui)**

**Describe the bug**
running docker-compose build causes
[code]
**Hardware / Software:**
 - Ubuntu 22

[2022-09-01 07:10] AbdBarho commented on #16
use `docker compose` instead of `docker-compose`?

[2022-09-01 14:30] tr7zw commented on #16
Ran into the same issue, I had to update docker(was on a rather old version).

[2022-09-01 20:45] tr7zw commented on #1
Gonna second this. Any day I don't have to touch python is a good day.

[2022-09-02 14:04] nikarh opened #20 "GoBig and GoLatent upscaling models fail with IndexError"
Hello, and thank you for this amazing docker image!

 Upsacling with GoBig or GoLatent fail with the fllowing exception:
[code]

**Steps to Reproduce**
1. Go to 'Image Lab Tab'
2. Upload 'Single Image'
3. Select 'GoBig' upscaling model
4. Press 'Process'

**Hardware / Software:**
 - OS: Archlinux
 - GPU: RTX3080

**Additional context**
Any other context about the problem here. If applicable, add s

[2022-09-02 14:11] hughk opened #21 "/bin/bash: line 1: /docker/mount.sh: Permission denied on container startup"
Building the container works. Starting the container fails with the following message:

stable-diffusion-webui-docker-model-1  | + /docker/mount.sh
stable-diffusion-webui-docker-model-1  | /bin/bash: line 1: /docker/mount.sh: Permission denied

**Steps to Reproduce**
1. docker compose build
2. docker compose up --build
3. [error...]

**Hardware / Software:**
 - OS: Windows 11/WSL2
 - Docker versio

[2022-09-02 14:13] AbdBarho commented on #20
Bug in the main Repo https://github.com/hlky/stable-diffusion-webui/issues/464
Fix is currently in an open pull request https://github.com/hlky/stable-diffusion-webui/pull/473

I will update when it is merged.

[2022-09-02 14:18] El-Fitz commented on #21
I'm facing the same issue on an AWS EC2 Linux instance. Fixed after running `chmod +x ./build/mount.sh` from outside the docker container.

[2022-09-02 14:34] AbdBarho commented on #21
I have directly updated the executable status in the git index.

@hughk Can you try again from latest master?

Working on a windows machine makes detecting this problems almost impossible.

[2022-09-03 02:12] SuddenDevelopment opened #23 "My build issues resolved"
update to latest windows 10 release 2021H2 (required for WSL to see the GPU)
update to WSL2 (download and switch to version 2)
install docker (duh, Docker Desktop)
wsl2 dos2unix dockerfile ( these were not so obvious, some characters in the files werent going well)
wsl2 dos2unix ./build/mount.sh

[2022-09-03 05:06] AbdBarho commented on #23
Thank you @SuddenDevelopment ! I will add this info to the FAQ page just in case anyone faces the same problem!

I pushed an update that should fix the line endings problem.

[2022-09-03 11:16] AbdBarho commented on #20
@nikarh the problem should be fixed in #25, can you try again from latest master?

[2022-09-03 11:37] MiccoHadje commented on #21
I've forked to modify the Shell command in the build to use "//bin/bash" instead of "/bin/bash", which has resolved a similar error for me. On WSL the precedent "/" before the filepath indicates a *nix filepath. After that modification the build was successful for me.

[2022-09-03 11:50] AbdBarho commented on #21
what sort of black magic is this?

@MiccoHadje why is this necessary? could you guide to some sort of documentation that explains this behaviour?

The bash command is executed within the miniconda container, I would assume that the rules of WSL don't apply / matter anymore?

[2022-09-03 12:10] MiccoHadje commented on #21
Universal Naming Convention (UNC) is what I believe drives this 'trick'. Here's the Microsoft Docs page that talks about it. https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats

Regardless, it works for me :)

[2022-09-03 12:22] AbdBarho commented on #21
@MiccoHadje thanks! I will look deeper into it.

One question, did you install docker on windows powershell or inside wsl? and did you run docker on powershell or inside wsl?

So the error was thrown [at this line](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/5af482ed8c975df6aa0210225ad68b218d4f61da/build/Dockerfile#L11) when building the container?

[2022-09-03 12:23] hughk commented on #21
I have checked and it seems to have moved past this point. Will close when I have confirmed.

[2022-09-03 12:28] hughk commented on #21
Have confirmed that it is now working as supposed to on Ubunto 22.04.01/WSL2

[2022-09-03 12:28] #21 closed

[2022-09-03 12:28] MiccoHadje commented on #21
Yes, that is the line the error was thrown on. I installed Docker on Windows, and run Docker from Powershell.

[2022-09-03 12:30] AbdBarho commented on #21
@MiccoHadje Ok, I will update the FAQ, its weird that I can't reproduce this problem...

@hughk glad its working!

[2022-09-03 13:56] nikarh commented on #20
Thanks! All works now.

[2022-09-03 13:56] #20 closed

[2022-09-03 23:50] #23 closed

[2022-09-03 23:50] SuddenDevelopment commented on #23
great, thanks!

[2022-09-03 23:53] SuddenDevelopment opened #28 "Custom WebUI SHA"
It looks like you set the webui repo to a specific stable version.

When I go look at that project it is frequently being updated.

How can I easily update my container? Do I need to rebuild it from main each time?

be a nice option, thanks

[2022-09-04 06:34] AbdBarho commented on #28
Hi @SuddenDevelopment, you are correct, I pin to a specific version because it helps in the reproducibility, and although there are many updates to the project, stuff gets broken all of the time.

That being said, I will consider this to be a feature request, for anyone who might need it.

[2022-09-04 07:12] #28 closed

[2022-09-04 07:14] AbdBarho commented on #28
@SuddenDevelopment Feature added https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/082876aab38dceb9c523e3f5315b9649edb86102/docker-compose.yml#L8-L10

You can now change the SHA and run `docker compose up --build` and have that commit. This will only rebuild part of the container, takes ~2 minutes on my machine.

[2022-09-04 09:01] JulianKauth commented on #12
Had the same issue, creating two images per batch in `--optimized-turbo`and `--optimized`works for me now.

[2022-09-04 09:03] sw-yx opened #31 "M1 Mac issue - PackagesNotFoundError: The following packages are not available from current channels: pytorch==1.11.0"
i checked that this issue has not been reported before.

**Describe the bug**

`docker-compose up` produces this:

[code]

**Steps to Reproduce**

![image](https://user-images.githubusercontent.com/6764957/188305900-6c002578-a4e5-4600-8ccf-4268b2c5bc9e.png)

**Hardware / Software:**
 - OS: macos 12.5.1
 - GPU: m1 max, macbook pro

[2022-09-04 09:05] sw-yx commented on #31
adding conda forge in the dockerfile seems to have solved it

![image](https://user-images.githubusercontent.com/6764957/188305993-82a9eb52-dbe1-40ca-b716-e3b5d1b14039.png)

[2022-09-04 09:07] sw-yx commented on #31
mm more errors...

[code]

[2022-09-04 09:10] sw-yx commented on #31
seems i am not alone https://saoyan.github.io/blog/2022-06-10-pytorch-apple-m

[2022-09-04 09:31] AbdBarho commented on #31
@sw-yx the problem is that these libraries are not available for macos.

If I am not mistaken, cuda can not be used under macos because of the different GPU architecture, so even if the libraries were installed, it is highly likely that the application would crash on startup.

However, there is another repo that claims to support macs https://github.com/lstein/stable-diffusion maybe you would have

[2022-09-04 10:18] sw-yx commented on #31
understood. yes i did get the lstein one working, i just wanted to test the limits of the various forks because i wanted to write a tutorial for other folks.. and of course docker is a great way to distribute software. thanks for the quick response

[2022-09-04 10:18] #31 closed

[2022-09-04 11:04] AbdBarho commented on #31
@sw-yx I managed to get the lstein fork to run in a docker container for linux

https://github.com/AbdBarho/stable-diffusion-webui-docker/pull/32/files

if you are willing to adapt it to macos, I will gladly add it to the repo.

Starting point could be https://github.com/lstein/stable-diffusion/blob/main/README-Mac-MPS.md

[2022-09-04 15:35] reslip1 opened #33 "Image to image generates an error"
**Has this issue been opened before? Check the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Main), the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue) and in [the issues in the WebUI repo](https://github.com/hlky/stable-diffusion-webui)**

**Describe the bug**
Img 2 img generates an error.
Traceback (most recent call last):
stable-dif

[2022-09-04 15:40] AbdBarho commented on #33
Bug in main Repo https://github.com/hlky/stable-diffusion-webui/issues/610

I will update once its fixed

[2022-09-05 06:29] sw-yx commented on #31
@AbdBarho thanks for being so proactive! unfortunately there are [a lot of things to get right](https://github.com/lstein/stable-diffusion/blob/main/README-Mac-MPS.md) and my dockerfu skills are not strong. probably someone else who knows this stuff well should do this.

i tried out #32 but ran into the same issue with `pytorch==1.11.0` not being available for m1 macs. i have no idea what the lste

[2022-09-06 03:02] Marcus-Arcadius opened #34 "No file or directory for latent-diffusion"
![image](https://user-images.githubusercontent.com/78793842/188538101-e415de36-1399-415a-83fd-ebdbdf2c3653.png)

[code]

EDIT: Fixed the issue in the hlky mount.sh file by removing the # from the project.yaml line but now facing this issue

![image](https://user-images.githubusercontent.com/78793842/188540105-25e4e4bc-ba25-4534-9e58-8c0d2118b0ef.png)

[code]

[2022-09-06 03:14] yuriten opened #35 "MacOS M1Pro chip: Error response from daemon: could not select device driver "nvidia" with capabilities: [[gpu]]"
**Steps to Reproduce**
1. clone the repo
2. copy model.ckpt to models
3. cd ./AUTOMATIC1111
5. docker compose up --build

There are no problems with the previous steps, but the last error is reported:

[code]

**Hardware / Software:**
 - MacOS 12.5 M1 Pro chip
 - GPU: No GPU

What do I need to do to fix this?

[2022-09-06 04:29] AbdBarho commented on #34
@Marcus-Arcadius did you download the LDSR model and its configuration like written in the readme? or you don't want to use LDSR?

[2022-09-06 06:53] Marcus-Arcadius commented on #34
@AbdBarho I did download the model and configuration file and renamed them, but the docker container for some reason couldn't find them in the model's folder?

[2022-09-06 07:16] AbdBarho commented on #34
@Marcus-Arcadius this is very weird, can you show me the contents of the `models` folder?
`ls -l models` or `tree models/`?

[2022-09-06 07:32] Marcus-Arcadius commented on #34
@AbdBarho this is whats inside the models folder which should be correct?
![image](https://user-images.githubusercontent.com/78793842/188574138-77c4899f-98a4-4a6d-9211-7c49c4c6975f.png)

[2022-09-06 07:50] Marcus-Arcadius commented on #34
@AbdBarho so I got it to work with wsl2 Ubuntu but I'm encountering an error where it just randomly exits?

![image](https://user-images.githubusercontent.com/78793842/188577761-7fd3b318-3cf7-4d5a-8e78-d495eda0beb1.png)

[2022-09-06 08:36] AbdBarho commented on #34
@Marcus-Arcadius how did you manage to get it running in wsl?
can you tell me your system specification? os / ram / gpu / vram? I assume the model is assuming too much memory and crashing?

[2022-09-06 09:12] hughk opened #36 "Issue #21 is back: Execution bit lost on /docker/mount.sh"
Building the container works. Starting the container fails (again) with the following message:

stable-diffusion-webui-docker-model-1 | + /docker/mount.sh
stable-diffusion-webui-docker-model-1 | /bin/bash: line 1: /docker/mount.sh: Permission denied

Steps to Reproduce

    docker compose build
    docker compose up --build
    [error...]

Hardware / Software:

    OS: Windows 11/WSL2
    Docker v

[2022-09-06 09:33] Marcus-Arcadius commented on #34
@AbdBarho I got it to eventually work by using a .wslconfig file and increasing the resources, my specs are the nvidia 2060 super, 16GB RAM, 8GB VRAM, and windows 11

[2022-09-06 09:41] #34 closed

[2022-09-06 09:58] AbdBarho commented on #36
@hughk can you update the command from `/docker/mount.sh` to `/bin/bash -c /docker/mount.sh`?

[2022-09-06 10:23] AbdBarho commented on #36
I have updated the executable status again, I have to find a permanent solution for this problem...

[2022-09-06 11:33] AbdBarho commented on #35
@yuriten Mac Support is a big subject. I know that `lstein` fork [has mac support](https://github.com/lstein/stable-diffusion/blob/main/README-Mac-MPS.md), but I cannot integrate it because I don't have a mac.

If you would like to contibute and implement it I will gladly add it to the repo.

related #31

[2022-09-06 14:07] hughk commented on #36
So I stashed my stuff and git pulled again. I chmoded the copy of mount.sh both in hlkm and in the AUTOMATIC1111 sub-directories checked the execute bit was on, It was and tried again. Same problem. I'm unsure though exactly what is happening as we now have two Dockerfiles. So Im not quite sure which is causing the problem.

[2022-09-06 15:45] hughk commented on #36
@AbdBarho Complete delete of local depository (except for models) and GIT pull seems to work

[2022-09-06 16:17] AbdBarho commented on #36
@hughk glad it was fixed, since it is the second you had this problem, maybe it is a problem with git config, can you run this for the future?

[code]
Info from the git docs:

core.fileMode
  Tells Git if the executable bit of files in the working tree is to be honored.

  Some filesystems lose the executable bit when a file that is marked as executable is checked out, or checks out a non-executab

[2022-09-06 16:17] #36 closed

[2022-09-06 19:37] fivethreeo commented on #16
Or make heredoc to multiline bash RUN

[2022-09-07 08:59] hughk opened #38 "Failure to send image to lab"
This seems to have been functioningearlier in the week week but no longer. The expected behavior is to bring the image up in the image lab tab.

**Describe the bug**

stable-diffusion-webui-docker-model-1  | Traceback (most recent call last):
stable-diffusion-webui-docker-model-1  |   File "/opt/conda/lib/python3.8/site-packages/gradio/routes.py", line 247, in run_predict
stable-diffusion-webui-do

[2022-09-07 09:03] AbdBarho commented on #38
@hughk  which model are you using?

[2022-09-07 09:34] Neltherion commented on #12
It's strange... It seems the option to pass batches is gone and I can only mention the number of images I want to generate (Max 50).

Batches were good for those who had larger VRAM.

[2022-09-07 09:52] AbdBarho commented on #12
@Neltherion Yes, unfortunately it was removed, the team was trying to optimize for low end cards.

That being said, you can try the AUTOMATIC1111 fork https://github.com/AbdBarho/stable-diffusion-webui-docker/tree/master/AUTOMATIC1111 It has the batch size parameter, and is actually much nicer.

[2022-09-07 09:53] #12 closed

[2022-09-07 09:58] hughk commented on #38
@AbdBarho I believe it is the default (hlky). Nothing yet selected in the lab.

[2022-09-07 17:46] AbdBarho commented on #38
@hughk I tried it with the latest version and it should work, can you pull from master and try again?

[2022-09-07 18:32] hughk commented on #38
@AbdBarho Did a git pull and then a docker compose up --build, I am getting the same error.

[2022-09-07 18:37] GeorgiaM-honestly opened #40 "Is CPU-Only Usage Possible?"
Hello,
I really love what you're doing here. Unfortunately I don't have a system with a GPU to throw at this. Is it possible to do it only in CPU? I saw that there is the vino project for that however it doesn't have nearly the same features of this project.

[2022-09-07 18:49] AbdBarho commented on #40
That is a really good question, I will do some testing and report back

[2022-09-07 19:01] GeorgiaM-honestly commented on #40
Okay. I got it to start though it complains:

[code]

Therefore I looked at the CLI flags and changed the yaml config to:

[code]

Now, despite the error, the container IS running and taking up some resources. However when I try to connect to 127.0.0.1:7860 from the system the docker is running on, I get connection refused:

[code]

Which is curious, because it is listening:

[code]

Maybe i'm mis

[2022-09-07 19:03] AbdBarho commented on #38
It seems like I am missing something because I cannot reproduce the problem

https://user-images.githubusercontent.com/24505302/188957182-32e89da5-3906-4af2-9eb0-457cfa1f1726.mp4

[2022-09-07 19:26] AbdBarho commented on #40
@GeorgiaM-honestly you can stop the container with `docker compose down`

I am still looking into the cpu stuff

[2022-09-07 19:40] AbdBarho commented on #40
@GeorgiaM-honestly here is how to run it on cpu

[code]
update the docker compose file

[code]
then
[code]

I only tested 64x64, but it seems to work.

[2022-09-07 19:54] GeorgiaM-honestly commented on #40
Okay. I no longer get errors as before, and 127.0.0.1 7860 isn't rejecting connections now however it isn't sending anything either and closes the connection.

is _docker compose up --build_ supposed to be run in AUTOMATIC1111/ or the root of the repo? I did the later.

[2022-09-07 19:55] AbdBarho commented on #40
no it should be in the AUTOMATIC1111 folder, because that is a different container

[2022-09-07 20:04] GeorgiaM-honestly commented on #40
It worked!! Default settings which was 512x512 on 32x4.1GHz cpus in a VM. What else can I do to help you test?

[2022-09-07 20:18] AbdBarho commented on #40
@GeorgiaM-honestly thank you for your offer!

How much time did it take for that image size? just to get a feeling for it. On my machine 4 cores / 8 threads / 2.4ghz / windows 10 / 20 steps / 64 x 64 it took around 8 seconds.

I will close this issue now, feel free to open a new one if you face any problems or you want to request a new feature.

Otherwise, Enjoy!

[2022-09-07 20:18] #40 closed

[2022-09-07 21:38] GeorgiaM-honestly commented on #40
I'm running in a VM but i didn't expect performance to be THIS bad. (I'm not complaining about the project)

Prompt: spleens made of cheese, f/1.4, 50mm, high detail, photo realistic, fujifilm tri-x, ISO 6400
Steps: 20, Sampler: Euler a, CFG scale: 7, Seed: 2343712771, size: 512x512
Time taken: 109.44s

[2022-09-08 08:32] hughk commented on #38
@AbdBarho The problem seems to be in the Image Lab too. Tried to load a jpeg for upscaling and I get:

stable-diffusion-webui-docker-model-1  | Traceback (most recent call last):
stable-diffusion-webui-docker-model-1  |   File "/opt/conda/lib/python3.8/site-packages/gradio/routes.py", line 247, in run_predict
stable-diffusion-webui-docker-model-1  |     output = await app.blocks.process_api(
stabl

[2022-09-08 08:34] hughk commented on #38
@AbdBarho: I will try to revert to the version from the beginning of the week.

[2022-09-08 08:43] AbdBarho commented on #38
@hughk  Or you can try the [AUTOMATIC1111 Fork](https://github.com/AbdBarho/stable-diffusion-webui-docker/tree/master/AUTOMATIC1111) it has less bugs than the main one.

[2022-09-08 09:38] hughk commented on #38
@AbdBarho Problem between seat and keyboard. It was my fault as I tried to merge  the outputs from before. The files are called grid-00000-_<parameters>_ If you have two grid-00000 files there even with different parameters, it will break the code. The workaround is that when you copy, you always ensure that the files are uniquely numbered and in sequence. Thx again for your help.

[2022-09-08 09:38] #38 closed

[2022-09-08 15:57] AbdBarho commented on #33
@reslip1 the problem should be fixed now, can you try again from latest master?

[2022-09-08 18:20] reslip1 commented on #33
Rebuilt using latest repo and tried crop and mask and they both worked. Thanks!

[2022-09-08 18:20] #33 closed

[2022-09-09 18:17] SuddenDevelopment opened #44 "It looks like the config file "..." is not a valid JSON file."
I had a previous working build. I get this same error in main folder and the automatic subfolder:

[code]

[2022-09-09 18:20] AbdBarho commented on #44
@SuddenDevelopment this happens when you have an unstable connection, the download fails and shows this error.

can you clear the `cache/transformers` folder and try running again?

[2022-09-09 18:22] SuddenDevelopment commented on #44
I did, and then I also re-cloned and built fresh. I also verified same issue in the lstein folder.

I have a super fast stable connection as far as I can tell

[2022-09-09 18:29] lucasderksen commented on #44
I'm having the same error. Tried the same as SuddenDevelopment. Will try some other stuff out.

[2022-09-09 18:34] AbdBarho commented on #44
@SuddenDevelopment After clearing the cache, I managed to reproduce this issue. It seems to be part of the `transformers` library, more percisely, open ai clip.

You can in fact see for yourself that the json is not valid (extra comma)
https://huggingface.co/openai/clip-vit-large-patch14/resolve/main/config.json

I guess it won't take much until open ai notices and fixes the problem.

In the mean

[2022-09-09 18:47] SuddenDevelopment commented on #44
thanks! FYI, in the future I don;t mind helping in some way. I use this tool enough it's worth investing some time. I do know Python, web dev, docker.

[2022-09-09 18:50] AbdBarho commented on #44
@SuddenDevelopment Thank you for your offer! I will keep that in mind!

I will leave this issue open until its fixed in the open ai repo, maybe other users have the same problem.

[2022-09-09 19:18] #44 closed

[2022-09-09 23:14] shodanx2 commented on #16
Hi

Having the same issue

[code]

Even though I have a very recent docker , something changed between 20.10.12 and 20.10.18 and now you need the latest

On ubuntu, upgrading was as easy as

[code]

then you can resume your stablediffusion installation

[2022-09-10 17:57] kittykatattack opened #46 ""failed to solve "Error on M2 Mac..."
Hello!

I'm trying to get this running on an M2 Mac, and am getting this error... does anyone know what it means or how to solve it?

[code]

Thanks!!

[2022-09-11 02:56] AbdBarho commented on #46
Mac is unfortunately not supported, because I don't have a mac. Contributions are welcome.
We can continue the discussion in #35.

[2022-09-11 02:56] #46 closed

[2022-09-11 04:09] isapir commented on #16
installing the `docker-compose-plugin` [1] on Ubuntu resolved the issue for me:
[code]

[1] https://docs.docker.com/compose/install/linux/#install-the-plugin-manually

[2022-09-11 04:23] isapir opened #47 "Run on CPU"
Hello, how can I run this without GPU support?

I disabled the deploy resources section
[code]

But I am still getting an error when trying to run:

Thank you

[2022-09-11 04:28] AbdBarho commented on #47
@isapir I am working on a big refactor that should include cpu-support, It should hopefully be finished today.

[2022-09-11 04:50] isapir commented on #47
Thanks @AbdBarho!  That's awesome!

[2022-09-11 04:56] shodanx2 opened #48 "Proxmox / LXC: Unable to start docker container, nvidia-container-cli: initialization error: load library failed: libnvidia-ml.so.1"
Hi,

When I docker compose up -d

I get the following

[code]

My setup is as follows, I have a x64 computer running latest proxmox
On it I have created an LXC container with Ubuntu 22.04.1 LTS
This container is updated upgraded, docker-compose initially installed

The initial install failed due to old version 20.10.12 was replaced with 20.10.18

Installed with the following commands

apt remove d

[2022-09-11 05:04] AbdBarho commented on #48
@shodanx2 It seems that you are on the right path of debugging.

1080ti should be enough, I am running on a laptop 1060.

370 is not just old but ancient for the deep learning world, I know that docker / nvidia require a least >=418 or something similiar.

Do you have [NVIDIA Container Toolkit](https://github.com/NVIDIA/nvidia-docker#getting-started) installed? and did you restart the machine afte

[2022-09-11 05:22] shodanx2 commented on #48
Hi,

I've run out of time for tonight, excited to continue working on this tomorrow

To be clear I have installed nvidia-docker2 in the ubuntu 22.04 LXC running on promox

I now suspect that I need some stuff on the proxmox host as well. I was really hoping not to have to touch it !
Because I have a ton of active software on it, oh well, time for update

I tried running it using the nvidia contain

[2022-09-11 06:16] AbdBarho commented on #47
@isapir can you try out the new branch with cpu support?

[code]

[2022-09-11 11:31] kittykatattack commented on #46
Thanks so much!

[2022-09-11 16:50] ordigital commented on #1
Thank you for great work! :)

[2022-09-11 17:16] ordigital opened #50 "`hlky` FixFaces is broken (GFPGAN throws error) if `--extra-models-cpu` is given"
**FixFaces is broken and returns «RuntimeError: Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same»**

[code]

**Steps to Reproduce**
1. Generate image
2. Send to ImageLab
3. FixFaces

**Hardware / Software:**
 - OS: Ubuntu 22.04
 - GPU: RTX 3060

[2022-09-11 17:19] AbdBarho commented on #50
@ordigital This is a known issue https://github.com/sd-webui/stable-diffusion-webui/issues/899, can you edit the `docker-compose.yml` file and remove the `--extra-models-cpu`?

[2022-09-11 17:23] ordigital commented on #50
@AbdBarho  Solved! Thank you!

[2022-09-11 22:17] isapir commented on #47
@AbdBarho What is the docker command now? I tried:

[code]
I get an error that the model is not in the right place.  I'm not sure where it should be on the host:

[2022-09-12 01:27] isapir commented on #47
Looks like this command got deleted in the Edit:
[code]
But I'm still not sure where the model file is expected to be at on the host filesystem.

[2022-09-12 01:42] isapir commented on #47
This is from https://github.com/AUTOMATIC1111/stable-diffusion-webui#automatic-installationlaunch but I'm not sure where to put it with your directory structure.

![image](https://user-images.githubusercontent.com/885907/189559799-2dfb6cb1-4b01-491d-b061-1894f2788e7c.png)

[2022-09-12 04:23] AbdBarho commented on #47
As stated in [the release](https://github.com/AbdBarho/stable-diffusion-webui-docker/releases/tag/1.0.0), the `models` folder should be moved to `cache/models`

[2022-09-12 04:33] isapir commented on #47
Sorry, I missed that, but even there it's not working for me:

webui-docker-automatic1111-cpu-1 exited with code 1

I tried both `cache/models/model.ckpt` and `cache/models/ldm/stable-diffusion-v1/model.ckpt`

[2022-09-12 05:06] AbdBarho commented on #47
@isapir Ok, lets debug this:

Can you show me the full log from the docker command until the error? At the beginning you should see one of
[code]
If you see the first one, it means there is a problem in the container that I have to fix, if you see the second, it means the folders where the data is stored is not correct.

Can you confirm that the `cache/models` folder looks [like this](https://gith

[2022-09-12 05:55] isapir commented on #47
It said "Skipping model.ckpt".

I ran the download profile but it broke with some error, so I started over in a new directory and it works well.

Thank you very much!

I can confirm that it runs with CPU-only.

[2022-09-12 05:55] #47 closed

[2022-09-12 11:10] jasalt opened #51 "WebUI won't recover when running out of VRAM"
Not sure where to ask and whether it's a known issue but the Web UI's don't seem to recover when increasing resolution enough to run out of VRAM. Having to interrupt Docker with ctrl+c and restart it currently to recover from out of memory situation with the `RuntimeError: CUDA error: an illegal memory access was encountered` error. Same behavior with the earlier default UI a couple days ago, and

[2022-09-12 12:18] AbdBarho commented on #51
@jasalt could you please define what it means to "recover"? you mean that the container restart? or that the app continues to function normally?

[2022-09-12 12:57] Jonseed opened #52 "Questions about Docker"
I haven't used Docker before, but I like how you've packaged the best repos together to try and switch between. I'm trying to get multiple repos running on my machine, and this could be the ticket. I have some questions:

How do you update the repos? Does docker update them automatically, or do you run a git pull?

Do the repos share package libraries, or are they all in their separate independent

[2022-09-12 13:37] jasalt commented on #51
To "recover", meaning the app to continue function normally.

[2022-09-12 13:40] AbdBarho commented on #52
@Jonseed

I download & build the code from git at a specific sha, when I want to update, I update the sha.
https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/master/services/hlky/Dockerfile#L15-L21
Docker does not update anything

Separate, I wanted to combine them, maybe in the future.

Not much, some megabytes

Yes, I use WSL2 under windows and it works fine with the standard folders

[2022-09-12 13:55] Jonseed commented on #52
@AbdBarho thanks! So if I want to update the repos, do I do a git pull on your repo and then run the docker download again?

[2022-09-12 14:09] AbdBarho commented on #51
@jasalt hmmmm, I don't think I can do something from my side, if the container stops on error, you can add `restart: on-failure` to the `docker-compose.yml` to restart it. However, it seems that Gradio catches the error but does not recover from it.

In any case, if you just want to restart, you can try `docker compose --profile auto restart`, same effect as stopping and restarting, with less typi

[2022-09-12 14:11] AbdBarho commented on #52
@Jonseed  almost, you don't need to download the data again, because it is already downloaded, you just need to re-run the container:
[code]

[2022-09-12 14:45] jasalt commented on #51
Ok, thank's. Will experiment with it. The auto-profile has been very stable if not passing resolution over 640x640 with 12GB VRAM. Hard to share access to it for others however before there's some solution.

[2022-09-12 15:12] Jonseed commented on #52
@AbdBarho cool. Also, if I've already downloaded the models, will those have to download again? Will it download the models three times, once for each repo, or one time and insert them into each repo?

[2022-09-12 15:26] greycubesgav commented on #48
Hi;
I have a similar setup (Proxmox -> LXC  Ubuntu 22.04.1 LTS -> Docker 20.10.17)
It took a fair amount of careful work to get the GPU passed through all the way to a docker container.

My advice would be focus on one step at a time, i.e. make sure the Nvidia drivers are installer and running fine in the proxmox host, then work on the lxc container, then finally get docker Nvidia runtime working.

[2022-09-12 15:40] greycubesgav opened #53 "Python module error while using Image Lab in hlky interface : ModuleNotFoundError: No module named 'gfpgan.archs.stylegan2_cleanonnx_arch'"
**Has this issue been opened before? Check the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Main), the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue) and in [the issues in the WebUI repo](https://github.com/hlky/stable-diffusion-webui)**

Nothing related found

**Describe the bug**
Python module error when trying to use  Image Lab ta

[2022-09-12 18:15] AbdBarho commented on #52
@Jonseed No, you won't download the models again, you will have to rebuild the containers for each UI, but the same models are re-used for each repo

[2022-09-12 18:45] AbdBarho commented on #53
@greycubesgav the file that is missing has been deleted around 4 hours ago, or roughly one hour before you reported the issue:
https://github.com/TencentARC/GFPGAN/commit/bb2f916764923426aafdcb5aba4ad3631a52d87a

This is due to the fact that the repository is defined as pip package with no version https://github.com/sd-webui/stable-diffusion-webui/blob/7623a5734740025d79b710f3744bff9276e1467b/envi

[2022-09-12 19:41] AbdBarho commented on #51
@jasalt You might want to check your config, I can generate a 704 x 704 image on 6GB VRAM. You should be able to go up to 1024 with 12GB?

[2022-09-13 07:05] jasalt commented on #51
Was getting 512x512 with all optimizations off that is (12GB VRAM), tested with defaults of hlky-profile now and got up to 832 x 960. Didn't inspect the difference in render quality much but it's not clearly visible at least.

Adding `restart: on-failure` to the profile didn't work for restarting after running out of VRAM but `restart: always` does. This would reset the gradio public share url how

[2022-09-13 07:14] AbdBarho commented on #51
@jasalt the `auto` profile has more optimizations, maybe you can have larger images with it.

For the restart, you would probably need to create an issue in the respective UI repository to handle the errors gracefully, then `restart:` is not necessary anymore.

[2022-09-13 07:25] jasalt opened #56 "Build fails with credentials errors when logged in via SSH on WSL2/Windows"
Had trouble controlling Docker Compose remotely via SSH on Win/WSL2 while there were no errors with  regular Windows desktop session. Seems like logging in via SSH messes up the Docker Desktop's credit store access with WSL somehow where `docker compose --profile hlky up --build`, `docker compose --profile auto restart` or just `docker login` would end with:

[code]

Got it to work by forcing plai

[2022-09-13 07:28] jasalt commented on #51
Ok, will test that too, liked the auto-profile's live preview a lot.

Thank's for the workaround. I'll keep an eye on the upstream repositories.

[2022-09-13 07:43] jasalt commented on #35
There's also SD in app format for Mac (Apple Silicon) now: https://github.com/divamgupta/diffusionbee-stable-diffusion-ui. Probably easiest way to get SD running there while the Docker ARM support is lagging behind.

[2022-09-13 08:00] jasalt commented on #51
Seems like the `restart: always` only works with `hlky` profile which exits docker compose with code 0 when running out of VRAM:

[code]

After this it restarts. The `auto` profile handles out of VRAM error differently, it does not exit but hangs in Docker compose prompt like so:

[code]

[2022-09-13 08:20] AbdBarho commented on #56
@jasalt Thanks! added to the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ#build-fails-with-credentials-errors-when-logged-in-via-ssh-on-wsl2windows).

Do you have links to the issues in Docker or Docker compose issue trackers? maybe we could add them here for reference

[2022-09-13 08:23] AbdBarho commented on #51
Yeah, the `hlky` fork handles the errors explicitly, and exists gracefully [here](https://github.com/sd-webui/stable-diffusion-webui/blob/master/scripts/webui.py#L1141-L1183). the `auto` fork just leaves the error to gradio, which probably does nothing and leaves the app in an invalid state.

[2022-09-13 08:26] jasalt commented on #51
Yea, while it's getting bit complex with differences on that level I got an ugly workaround together for running `auto` profile with "self recovery" when running out of memory. Simply tailing the logs and running the restart command with awk.

[code]

[2022-09-13 08:39] jasalt commented on #56
Few more or less related issues:

https://github.com/docker/compose/issues/7273
https://github.com/docker/cli/issues/2682
https://github.com/docker/for-win/issues/9061
https://github.com/docker/for-win/issues/11261
https://github.com/docker/for-win/issues/12888

[2022-09-13 09:05] AbdBarho commented on #51
Wizard! this still has the cost of reloading the entire app / models from scratch, which takes roughly 20 seconds on my machine, but I think it is still better than nothing.

On thing you could probably do if you really want to hack it away, is have some some code that runs as part of the build that adds a `try catch` to [the code responsible for all gpu calls](https://github.com/AUTOMATIC1111/sta

[2022-09-13 09:33] jasalt commented on #51
I eyed these parts a bit but I'll keep my hands off from it for now as it works well enough for me and having to get back working on other stuff.

On a side note, the default `auto` optimizations with 3060 12GB give larger resolution but the render speed drops quite a bit from 4-5 it/s to around 1-2 it/s. GPU CUDA activity on Task Manager going up and down like a saw wave during the render while i

[2022-09-13 11:36] dudumaroja commented on #50
--extra-models-cpu is still needed for many people.. we need to see why we cant use cpu for extra models anymore

[2022-09-13 13:16] AbdBarho commented on #50
@dudumaroja I will re-open this one, until its fixed in the main repo.

[2022-09-13 13:55] dudumaroja commented on #50
thanks

[2022-09-14 18:45] sheldonhull opened #60 "How to include a custom model?"
Was working through the scripts, and found that there are explicit mountings in `mount.sh` for the apps.

I tried adding a custom entry but couldn't get the model to show up in the UI.
Is there something beyond adding a new entry into `mount.sh` that is required?

Example:

[code]

[2022-09-14 18:52] sheldonhull commented on #60
I'm working through it with adding to downloads, and removing my download taskfile command since you've built this into the compose process. Lots of interesting different approaches here that I think are useful to give me new ideas!

I'll see if this works and update for others.

[2022-09-14 18:55] AbdBarho commented on #60
@sheldonhull `hlky` UI? I don't think you can add custom models to it, I think that works for ESRGAN in `auto` only.
Can you link to documentation / description of the feature you are trying to use?

[2022-09-14 19:06] AbdBarho commented on #60
@sheldonhull Ah, I see, waifu-difussion is just a fine tuned-model.

In theory, you don't need to change any code, you can just
[code]
and run the UI, any UI should work because this is just the weights.

[2022-09-14 19:09] sheldonhull commented on #60
So this replaces the model.ckpt that's there, meaning it's not a switch for me, it's one or the other?

I plan on learning more on the technical side of this later, so sorry if this is obvious stuff. I'm only dabbling in this area to learn a bit and have some fun ;-)

[2022-09-14 19:21] AbdBarho commented on #60
@sheldonhull correct, it is one or the other. if you want a switch through an env variable, update the [CMD of `services/hlky/Dockerfile`](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/c1fa2f145731633916a2ab3ade7bf8cad2d7ca71/services/hlky/Dockerfile#L60) and delete the `--ckpt /cache/models/model.ckpt`

and then you can define the model you want [in the cli args of the ui](https:

[2022-09-14 20:11] StefH opened #61 "Question: does this version also expose the REST api on port 5000?"
Does this version also expose the REST api on port 5000? (Just like the normal https://replicate.com/docs/reference/http ?)

[2022-09-14 20:34] AbdBarho commented on #61
I am not sure since this depends on the underlying UI, you can add the port to the [docker compose file](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/c1fa2f145731633916a2ab3ade7bf8cad2d7ca71/docker-compose.yml#L5) and try it
[code]

[2022-09-14 22:11] Marcus-Arcadius opened #62 "Delete Downloaded Cache"
How do I delete the downloaded cache to start fresh to use custom model?

[2022-09-15 08:00] #52 closed

[2022-09-15 08:01] flying-sheep opened #63 "AMD GPUs"
**Describe the bug**

I have a AMD Radeon RX 6800 XT. Stable diffusion supports this GPU.

After building this image, it fails to run:

[code]

**Steps to Reproduce**
1. Run `docker compose --profile auto up --build` (after download)

**Hardware / Software:**
 - OS: Arch Linux (up-to-date)
 - GPU: AMD Radeon RX 6800 XT
 - Version 1.0.1

[2022-09-15 08:09] AbdBarho commented on #63
@flying-sheep Unfortunately, AMD GPUs are not currently supported.
I know it that the `auto` fork can run on AMD GPU https://github.com/AUTOMATIC1111/stable-diffusion-webui/wiki/Install-and-Run-on-AMD-GPUs, but I don't have any to test it.

If you would like to contribute, that would be great!

[2022-09-15 08:13] flying-sheep commented on #63
This docker-compose file seems to support passing AMD GPUs to docker: https://github.com/compscidr/lolminer-docker/blob/main/docker-compose.yml

But I don’t know what’s necessary software wise.

[2022-09-15 08:25] flying-sheep commented on #63
Ah, seems like [PyTorch needs to be installed via pip](https://pytorch.org/get-started/locally/#linux-anaconda) to get ROCm support. but it’s unclear to me if that means that it somehow detects the GPU while building, because if the built PyTorch package is capable of being run by both CUDA and ROCm, there’s no reason to not distribute that via anaconda.

[2022-09-15 08:41] AbdBarho commented on #63
You are asking difficult questions my friend.

[2022-09-15 09:00] flying-sheep commented on #63
Welp, apparently nvidia has pressed enough people into their monopoly that I’m the first one :anguished:

[2022-09-15 15:02] Pyroglyph opened #64 "Web UI container exits with code 137"
**Describe the bug**
Running the web UI does not work. It hangs on `making attention of type 'vanilla' with 512 in_channels` for a while and then exits with code 137.

Console output:
[code]

**Steps to Reproduce**
1. Run `docker compose --profile download up --build`
2. Run `docker compose --profile auto up --build`
3. 2nd command builds container but exits with code 137 after attempting to run

[2022-09-15 15:12] Pyroglyph commented on #64
This also happens when running `docker compose --profile hlky up --build`

[code]

[2022-09-15 15:13] AbdBarho commented on #64
@Pyroglyph How much ram do you have? 16 with WSL is known to cause problems. can you try the points mentioned at the end?

https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ#other-build-errors-on-windows-thanks-to-suddendevelopment-for-reporting

try them one by one see if it works.

[2022-09-15 15:16] Arvoreen commented on #64
I'm seeing this same issue  -- I configured my .wslconfig file to give it 8G

[2022-09-15 15:19] Pyroglyph commented on #64
I've got 16GB (was going to upgrade to 32 soon anyway)

I've tried most of them and I don't think the others apply.
- I'm already past that build of Windows
- I'm already on WSL2
- I have updated Docker Desktop (and I assume that updates Docker too?)
- I created a `.wslconfig` and set the memory to 16GB (although I've never seen it pass 8GB in Task Manager)

It's most likely a memory issue, which

[2022-09-15 15:51] ordigital opened #65 "Building lstein failed"
[code]
Any ideas how to fix it?

[2022-09-15 16:36] AbdBarho commented on #64
I have seen it take up to 14GB on my machine. You can try the `--lowvram` cli arg for `auto` in `docker-compose.yaml`, maybe it helps. Also increase wsl memory to all available memory and try again.

[2022-09-15 16:37] AbdBarho commented on #65
@ordigital there is a template for a reason. what is you machine? Docker version? OS? RAM? GPU?

[2022-09-15 16:38] #56 closed

[2022-09-15 17:23] JoeMojoJones commented on #64
I've experienced exit error 137 using AUTOMATIC1111-cpu when trying to generate images that are too large.

It appears to be an out-of-memory type error and I've seen it occur as it fills up physical RAM then eats the swap space

[2022-09-15 18:43] Arvoreen commented on #64
So I tried switching to the full 16G I have in my machine, then it locked up (the entire PC) trying to start the auto UI

[2022-09-15 18:45] #65 closed

[2022-09-15 20:23] Arvoreen commented on #64
UPDATE: I switched the allocation to 12G -- and it started (and no lock up)

[2022-09-15 21:28] gregwbrooks opened #70 "Error response from daemon: could not select device driver "nvidia" with capabilities: [[gpu]]"
**Has this issue been opened before? Check the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Main), the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue)**

**Describe the bug**
Build of hlky or auto fails in the final step with "Attaching to webui-docker-automatic1111-1
Error response from daemon: could not select device driver "nvidia"

[2022-09-16 03:53] AbdBarho commented on #70
This is an error while starting the container, not in the build.

Do you have nvidia container toolkit installed? does this error out?
[code]

[2022-09-16 11:06] JoeMojoJones opened #71 "SD upscale limited to 1024x1024?"
Hello, firstly thank you for this great webui.

I've been playing about using auto-cpu on an Epyc CPU.

I had reached memory limitations (32gb) when trying to upscale images past 896x896 and found the improvements form Doggettx (https://github.com/basujindal/stable-diffusion/pull/117) and applied this.

The improvements now let me scale images at higher resolutions but when using img2img and the "

[2022-09-16 11:45] AbdBarho commented on #71
This repo only contains the docker images, the actual implementation and features of the auto UI is in https://github.com/AUTOMATIC1111/stable-diffusion-webui Please open this issue there.

[2022-09-16 11:45] #71 closed

[2022-09-16 13:05] tehgringe opened #72 "lstein tokenizer error"
**Has this issue been opened before? Check the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Main), the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue)**

https://github.com/lstein/stable-diffusion/issues/34
Running into this error, how would this be resolved in your setup?

**Describe the bug**

**Which UI**

hlky or auto or auto-cpu

[2022-09-16 13:13] AbdBarho commented on #72
@tehgringe how to reproduce

[2022-09-16 15:46] gregwbrooks commented on #70
You're right! For those who might stumble on this thread via search, here's the only solution that worked: When using one of AWS's GPU-enabled VMs, you must use one of their Deep Learning OS images. These have the right divers, the toolkit and all the rest already installed and optimized. They are available in Ubuntu and Amazon Linux flavors.

Once I re-imaged with that? Everything works like a ch

[2022-09-16 16:14] AbdBarho commented on #70
@gregwbrooks Glad it worked! I have added this to the FAQ

https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ#running-in-aws

[2022-09-17 11:44] #62 closed

[2022-09-17 11:44] AbdBarho commented on #60
Fixed in #75

[2022-09-17 11:44] #60 closed

[2022-09-17 14:21] StefH commented on #61
I think that the api is not running on port 5000.

When clicking the api-link in the bottom page, I get redirected to this:
![image](https://user-images.githubusercontent.com/249938/190859369-6cd3706d-9e04-4c38-aee5-949c69b73c5d.png)

[2022-09-17 14:26] AbdBarho commented on #61
well, I guess the api is running on the same port as the ui

[2022-09-18 10:15] VRciF opened #78 "CPU only fails because of missing NVIDIA driver"
**Describe the bug**

Right after txt2img finishes I receive the error
[code]

**Which UI**

auto-cpu

**Steps to Reproduce**
1. From a fresh master `git clone` a few hours ago, I did `docker compose --profile download up --build`
2. docker compose --profile auto-cpu up --build
3. After this finishes, run the GUI at http://localhost:7860/ and without any modifications to settings use `cat cartoon

[2022-09-18 10:35] AbdBarho commented on #78
@VRciF Thanks for the detailed bug report! you have no idea how many people just completely ignore the template.

I have reached out to the maintainer behind the vram monitor feature, I have the impression they are a competent developer so this regression should be hopefully dealt with soon.

In the mean time, you can try older commits from master.

[2022-09-18 11:49] AbdBarho commented on #78
@VRciF this should be fixed now, can you try again from latest master?

[2022-09-18 14:29] VRciF commented on #78
I did `git pull` followed by `docker compose --profile auto-cpu up --build` resulting in a newly created container
[code]
and it is working well! Many, many thanks for your fast response!

[2022-09-18 14:29] #78 closed

[2022-09-18 20:33] lamafab commented on #72
See https://github.com/AbdBarho/stable-diffusion-webui-docker/pull/79#issuecomment-1250381890

[2022-09-18 23:23] dathide commented on #70
I had this issue on Arch Linux, installing nvidia-container-toolkit from the AUR then restarting docker.service fixed it

[2022-09-19 04:35] AbdBarho commented on #72
@lamafab my bad, I forget to document this feature!

[2022-09-19 09:26] hughk opened #80 "Docker fails to start with a no such file or directory"
This was working with the version pulled on Friday and stopped working this morning

Building the container works. Starting the container fails (again) with the following message:

docker compose --profile download up
[+] Running 1/0
 ⠿ Container webui-docker-automatic1111-1  Created                                                                                  0.0s
Attaching to webui-docker-aut

[2022-09-19 09:53] AbdBarho commented on #80
`docker compose --profile download up --build`
and this will only download the data, for whatever reason, it is starting the automatic1111 ui in your case. you should try `docker compose down` beforehand.

if you want to start the UI
`docker compose --profile auto up --build`

[2022-09-19 13:23] hughk commented on #80
Yes, I had done that. It appears that it might have been a docker issue. I have restarted and it is working.

[2022-09-19 13:23] #80 closed

[2022-09-19 16:01] aTnT opened #81 "Error response from daemon: could not select device driver "nvidia" with capabilities: [[gpu]]"
Just posting here in case someone gets the same issue. I had this issue while building the services.

Installing NVIDIA Container Toolkit solved it:

https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#setting-up-nvidia-container-toolkit

[2022-09-19 16:01] aTnT commented on #81
See above

[2022-09-19 16:16] AbdBarho commented on #81
Related #70

I will add to FAQ because it seems many people are facing the problem

[2022-09-20 22:34] dathide opened #83 "[Suggestion] Add a guide for images filename pattern"
Thanks for this amazing web ui! In the settings tab, I see a box for images filename pattern, but I have no idea how to use it. Could you include an explanation of how to use it or a link to a website that does?

[2022-09-20 22:35] dathide commented on #83
Sorry that this is tagged as a bug, I don't know how to change that.

[2022-09-20 22:37] dathide commented on #83
This is for AUTOMATIC1111's ui. Sorry, should have made this report over there.

[2022-09-20 22:37] #83 closed

[2022-09-21 04:44] LoisLuo-c opened #84 "The following packages are not available from current channels:"
running this cammand: docker compose --profile auto up --build

[code]

[2022-09-21 06:21] dathide opened #85 "[Request] Add --allow-code to auto's ui Dockerfile"
Thanks for this great use of docker! The --allow-code flag allows custom code to be run in auto's ui, and I don't see a reason why it shouldn't be enabled by default. I just changed the last line of the Dockerfile from
`python3 -u ../../webui.py --listen --port 7860 --hide-ui-dir-config --ckpt-dir /cache/custom-models --ckpt /cache/models/model.ckpt ${CLI_ARGS}`
to
`python3 -u ../../webui.py --all

[2022-09-21 06:36] AbdBarho commented on #85
@dathide you don't have to change the dockerfile for that, you can directly change the [docker compose cli args variable](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/master/docker-compose.yml#L42) which is created specifically for this purpose.

[2022-09-21 06:47] AbdBarho commented on #84
@LoisLuo-c I don't have arch so it would be hard for me to reproduce and debug.

I would probably need to setup a virtual machine or something.

Can you try adding the following line before the install command [here](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/a96285d10bc875a29287fc71e04948f23915b815/services/AUTOMATIC1111/Dockerfile#L23)?

[code]

[2022-09-21 09:24] dathide commented on #85
Thanks, I didn't know that. Yeah, I probably should have said default behavior. I'm of course fine with the testing, that makes sense.

[2022-09-21 17:10] #85 closed

[2022-09-21 17:10] AbdBarho commented on #85
It is added now

[2022-09-23 08:56] DevilaN opened #88 "Unnecessary redownload of model_base_caption_capfilt_large.pth"
**Has this issue been opened before? Check the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Main), the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue)**

**Describe the bug**
Each time new version of auto service has been build old files from cache/torch/hub/checkpoints are being ignored and running img2img interrogate option ends up

[2022-09-23 11:38] Marcus-Arcadius opened #89 "Automatic1111 docker image throwing error when upscaling using Gfp-gan in extras"
![image](https://user-images.githubusercontent.com/78793842/191952257-39e9e1d2-b9eb-4368-b950-759b5d2c6794.png)

[2022-09-23 14:26] AbdBarho commented on #88
It seems that this problem was a bug in the latest transformers version, I downgraded.

can you try again from latest master? Unfortunately, you are going to have to re-download the entire cache.

[2022-09-23 14:39] AbdBarho commented on #89
Should be fixed now, can you try again from latest master?

[2022-09-23 18:20] DevilaN commented on #88
After pulling latest version I can confirm, that it redownloaded everything, but still same effect.
Take a look onto full log with my comments, so you can easily reproduce it by yourself.
[error.txt](https://github.com/AbdBarho/stable-diffusion-webui-docker/files/9636299/error.txt)

[2022-09-23 19:28] vicmortelmans opened #92 "Question: can I start a rendering from the command line?"
Hi,

I've been trying a number of stable-diffusion installation methods that should work without GPU, but this one is the only one that I got working (out of the box!) without any breaking issue.

That's very good, but problem is that I was actually looking for an installation that would allow renderings to be run from the command line (scripted)...

So my question (which is definitely not a bug,

[2022-09-24 04:41] Marcus-Arcadius commented on #89
@AbdBarho Just tested it out and it's now working!

[2022-09-24 04:41] #89 closed

[2022-09-24 05:41] rgriffogoes opened #93 "Potential Enhancement - AUTOMATIC1111 and Textual Inversion"
I wasn't able to find in the docs, but is there an official way to include pretrained embeddings for auto profile?

I saw that I could just add the files in a embeddings folder, so I changed my docker compose to mount a volume in the container. That way I can easily add embeddings.

In the logs I see:

So I guess it is working.

If there are no current way of doing, I could open a PR with this for

[2022-09-24 05:48] AbdBarho commented on #92
@vicmortelmans when you open the ui, there is a button at the bottom to view the api, you can then curl against it with the prompts / parameters, and get the result from the output folder. I haven't tried it personally, but it should work, in theory at least.

[2022-09-24 05:51] AbdBarho commented on #93
@rgriffogoes That would be wonderful! I was too lazy to add it because no one requested it yet 😅

[2022-09-24 07:36] darkskiez opened #94 "auto Interrogate broken, downloads a ~1Gb file each time clicked"
When i click img2img interrogate it downloads a big file, surely this should be downloaded by the download profile option?

webui-docker-automatic1111-1  | load checkpoint from https://storage.googleapis.com/sfr-vision-language-research/BLIP/models/model_base_caption_capfilt_large.pth
100%|███████████████████████████████████████| 890M/890M [01:30<00:00, 10.3MiB/s]

I think this happens multiple ti

[2022-09-24 07:42] AbdBarho commented on #94
duplicate of #88, currently working on it!!!!!

[2022-09-24 07:42] #94 closed

[2022-09-24 07:58] AbdBarho commented on #88
Just to summarize my findings:
* the logs in the console are misleading, the model that gets re-downloaded again is clip vit, not `model_base_caption_capfilt_large.pth`
* the cache folder defaults to `~/.cache` which is not mounted in the container [link](https://github.com/openai/CLIP/blob/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1/clip/clip.py#L94)
* the calling function does not provide another d

[2022-09-24 07:59] AbdBarho commented on #94
is merged now, can you try again from latest master?

[2022-09-24 08:18] darkskiez commented on #94
Seems to still download after each container restart.

[2022-09-24 08:19] darkskiez commented on #94
hmm maybe not, but i'll have to check again later.

[2022-09-24 08:24] AbdBarho commented on #94
feel free to re-open if the problem is no fixed.

[2022-09-24 12:25] vicmortelmans commented on #92
Hi, thanks!!

I got the API working, mainly by inspecting the calls made by the web GUI.

There are two fields in the posted data that I don't know what they're for and that seem to be mandatory:

- fn_index: when inspecting, it was set to 10. I tried other values of 0 or 1, but then there's an error. It works with 10, but what's the purpose of this field?
- session_hash: I can guess that this is

[2022-09-24 12:41] AbdBarho commented on #92
Glad it worked! the questions you have rely on the internals of gradio and the UI itself, which is unfortunately out of scope of this repo (here are the containers only).

You can definitely try asking your questions in the main repo:
https://github.com/AUTOMATIC1111/stable-diffusion-webui

The community there is much larger and you would probably find the answers you are looking for 👍

[2022-09-24 21:35] King0Kr opened #97 "Compose build crashes"
I hope you guys can help me
I have been through the FAQ and the Issues list but don't see my problem listed.

I have applied all fixes from the FAQ and saw that there is a problem with 16GB RAM so I have set it to use 12.

System specs:
Processor	AMD Ryzen 7 5800X 8-Core Processor                3.80 GHz
GPU Nvidia RTX 2070
GPU Driver version 516.94 Game Ready
Installed RAM	16.0 GB
System type	64-

[2022-09-24 23:47] AbdBarho commented on #97
This problem means the download was interrupted and the file is incomplete, the only solution I know is to delete the corrupted file in cache/transformers/models--openai--clip-vit-large-patch14/ and restart the container. It will retry the download again, if you have a bad connection (like I do) it might take a couple of tries.

[2022-09-25 00:21] DevilaN commented on #88
Fixed! :)
Thank you very much!

[2022-09-25 00:21] #88 closed

[2022-09-25 12:58] rgriffogoes commented on #61
Which UI are you using @StefH ?  did you add something somewhere to enable api?

When I use auto1111, clicking in the api link shows a page informing me it is off, and I would like to have it on.

[2022-09-25 13:38] StefH commented on #61
I cloned this project, followed the readme, and started:
[code]

Then the UI is running at : http://localhost:7860/

[2022-09-25 16:23] rgriffogoes commented on #61
Getting the UI to work is fine on my side, I'm curious about the API. Regardless if I run `auto-cpu` or `auto` clicking on the api-link at the bottom gives me:

![image](https://user-images.githubusercontent.com/1238919/192154149-423b525b-51d7-44fc-b0df-9f9bfdf40745.png)

With my superficial understanding of the code, I would need to either use a parameter (if auto1111 code is prepared for it) or

[2022-09-25 16:57] AbdBarho commented on #61
maybe the discussion in #92 could be of some use

[2022-09-25 16:59] AbdBarho commented on #93
Closed in #98

[2022-09-25 16:59] #93 closed

[2022-09-27 10:16] DevilaN opened #101 "[Feature request] Allow overriding docker-compose.yml"
Docker compose allows using `docker-compose.override.yml` file for storing changes to service definitions in base `docker-compose.yml` file.
Having this allow us to continue using unmodified `docker-compose.yml` file in local copy of repository and do not bother about conflicts / not updating file when doing `git pull` on regular basis, as specific modifications are being made in `docker-compose.o

[2022-09-27 11:21] DevilaN opened #102 "UI Settings changes services/AUTOMATIC1111/config.json file"
**Describe the bug**
Because of volume entry:
```- ./services/AUTOMATIC1111/config.json:/stable-diffusion-webui/config.json```
Each time there is a config change in settings from UI this very file is saved and modified also on local directory.
Above bind mounting file prevents *simple updating* of repository by `git pull` because of conflicting changes in remote and local file.

[code]

**Which UI

[2022-09-27 14:10] AbdBarho commented on #101
I totally agree with the benefit of `docker-compose.override.yml` and we should include it in the `.gitignore`.

I propose we document the override file in the wiki with a couple of examples, but not in the repo.

#100

[2022-09-27 14:25] AbdBarho commented on #102
@DevilaN that is a valid problem.

The reason we mount the file in the container is to persist the settings, so when you run again, all changes are still there.

I am not sure what other alternative we have here....

If your problem is only with the the pulling from the repo, you can try
[code]
or if you want to keep your changes:
[code]

[2022-09-28 06:36] #101 closed

[2022-09-28 06:57] DevilaN commented on #102
I do not want to propose overcomplicated solutions for simple problems, but I really do appreciate if something is working out of the box without unnecessary digging into internals or requiring some "magic stuff" to be done. That is why docker solution has been my first and only choice. Most of the time it is bulletproof or can be made that.

Preserving configuration between updates and not confli

[2022-09-28 08:49] AbdBarho commented on #102
Ideally, we should not manually create `config.json` file, it should be created and managed by the UI itself. We only need some overrides, which get applied to the config whenever needed.

I don't think this is easily achievable without tweaking the UI code itself, that being said, I think your proposal for the entrypoint is the right one:
* have a some sort of `override.json` file, which contains

[2022-09-29 05:24] DevilaN commented on #102
Seems like a good direction.

Could you provide example `override.json` or at last state which config values should be overriden so I could prepare working solution and test it?

[2022-09-29 10:06] AbdBarho commented on #102
@DevilaN Thank you for wanting to contribute!

These are the overrides: https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/9af4a23ec4eaefbcb98e2a58ac1fd9a04137ecbc/services/AUTOMATIC1111/config.json#L2-L10

[2022-09-30 01:37] watzon opened #105 "Use hlky with streamlit interface"
It seems like hlky is still using the outdated Gradio interface. Would it be possible to make the newer Streamlit interface available? I attempted setting the environment variable `WEBUI_SCRIPT=webui_streamlit.py` in my docker-compose.yaml, but I guess that doesn't work.

[2022-09-30 19:10] watzon commented on #105
Awesome, maybe keep this open until that UI is available without a workaround though? Thanks for the reply!

[2022-10-01 08:51] JoeMojoJones commented on #63
Have a look at : https://github.com/AUTOMATIC1111/stable-diffusion-webui/wiki/Install-and-Run-on-AMD-GPUs#running-inside-docker

You need to passthrough the GPU into the docker container for ROCM to use it.

[2022-10-01 08:56] AbdBarho commented on #63
@JoeMojoJones thank you, this link is helpful for reference.

The problem is I have no AMD GPU so I can't even test if the code works.

[2022-10-01 09:40] Sam7 opened #107 "How do I make this work in an Azure container?"
I'd like to run this in Azure containers:
https://learn.microsoft.com/en-us/azure/container-instances/container-instances-gpu

But when I do that using these commands:

	az login
	az account set --subscription xxxxxxx
	docker context use AciContext
	docker compose --profile download up --build
	docker compose --profile auto up --build

Nothing happens.
Does anyone have experience with this?

[2022-10-01 12:36] Can232 opened #109 "Can't run Stable Diffusion"
Tried setting it up manually too but it just won't work. Here's the error it shows:
![Error](https://user-images.githubusercontent.com/114813456/193409921-d7d0e349-d5b6-4325-9a92-08a606bd4270.JPG)

[2022-10-01 12:49] AbdBarho commented on #109
@Can232 please use the bug template next time.

Do you have the latest nvidia drivers? and wsl2?

what is the output of this command?
[code]

Also, check FAQ: https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ#other-build-errors-on-windows

[2022-10-01 14:44] Can232 commented on #109
I updated the Nvidia drivers and it still doesn't work. Here's a screenshot of the output.
![Error2](https://user-images.githubusercontent.com/114813456/193414868-b68b270f-141b-4b50-ab4d-89e1f782e3a2.JPG)

[2022-10-01 14:55] AbdBarho commented on #109
what are the outputs of these commands?
[code]

[2022-10-01 14:58] Can232 commented on #109
![Error3](https://user-images.githubusercontent.com/114813456/193415502-9620a059-5c8f-427f-89ac-8f708a361a50.JPG)
![Error4](https://user-images.githubusercontent.com/114813456/193415504-9e57f5c9-1ec0-47ac-82b2-c7379bf547ce.JPG)
![Error5](https://user-images.githubusercontent.com/114813456/193415507-7215c752-5c7b-45a6-a6af-b3903c540517.JPG)

[2022-10-01 15:07] AbdBarho commented on #109
all seems fine until now

and this one?
[code]

[2022-10-01 15:09] Can232 commented on #109
It didn't let me update for like a year now and won't even let me delete the previous version. No idea what to do without losing a year of downloads.
![WinVersion](https://user-images.githubusercontent.com/114813456/193415883-b354eae3-8b4b-4762-8c8e-89d7321ff07b.JPG)

[2022-10-01 15:14] AbdBarho commented on #109
I think this is the problem, GPU support for WSL2 was added in windows 21H2, without it the container cannot access the GPU.

Either update windows, or, run on the cpu with
[code]

[2022-10-01 15:21] Can232 commented on #109
it found no nvidia driver lmao

[2022-10-01 17:29] tokengeek opened #110 "Absolute path in `scripts/migratev1tov2.sh` to `/data/embeddings` fails to run"
**Describe the bug**
An absolute path is used rather than a relevant path in the new migration script for `/data/embeddings`. This reports an error if the user is unable to write to the root directory, or if they are would put the embedding in a different location to the other, relatively located files.

https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/14c4b36affa4535dd58012574e39e22

[2022-10-01 17:58] AbdBarho commented on #110
damn typo!

[2022-10-01 17:59] #110 closed

[2022-10-01 18:04] tokengeek commented on #110
Thanks!

[2022-10-02 05:37] eriknomitch opened #112 "Download fails with error on chmod call (dirs don't exist) - Fix included"
**Has this issue been opened before? Check the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Main), the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=is%3Aissue)**

**Describe the bug**

Running the `download` service fails with:

[code]

[code]

**Which UI**

hlky or auto or auto-cpu or lstein?

`download` service only.

**Steps to Reproduce**

[2022-10-02 05:38] eriknomitch commented on #112
I'm not sure if this is the cleanest way to ensure those directories so I didn't make a PR.

[2022-10-02 07:22] AbdBarho commented on #112
@eriknomitch thank you for reporting, the folders should have been created while bounding them as volumes, I only bounded the `/data` but forgot the `/output`

https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/6f5eef42a78e2fc840864e3bded9398dab36a89a/docker-compose.yml#L6-L25

That being said, the `chmod` is not necessary, I will just remove it.

[2022-10-02 07:25] #112 closed

[2022-10-02 07:26] #109 closed

[2022-10-02 08:13] tostt opened #114 "Info about accessing the network under WSL2"
This is not really a bug report, but more a suggestion.
I encountered a network issue under WSL2 which I fixed by modifying the docker-compose file.

On WSL2, when initially running `docker compose --profile auto up --build` I got a network access problem:
[code]
The fix was to add (in the docker-compose file) a `network` key to each service which has a `build` section.

As an example (for the `do

[2022-10-02 08:22] AbdBarho commented on #114
Thanks for the suggestion, I am very interested in the reason why it did not work with the default virtual network that is created by docker.

I would presume this is a docker configuration problem, rather than something related to this repo.

Do you have some sort of proxy setup? Or maybe using a different / private DNS setup that did not allow the containers to reach the internet?

[2022-10-02 08:56] tostt commented on #114
Thank you for getting back.
To answer your question, I didn't install a proxy.
I ran `/cat/etc/resolv.conf` both in the container and in ubuntu.
- In the container : `nameserver 127.0.0.11`
- In ubuntu : `nameserver 172.17.64.1`

I'm not sure what it means. But I believe my install isn't completely standard for some reason. I you want me to run commands to investigate more let me know. For me it's

[2022-10-02 10:18] AbdBarho commented on #114
Ran the same commands on my side
* WSL `nameserver 172.24.176.1`
* container `nameserver 127.0.0.11`

Which I would guess is correct, container is proxying through docker and wsl is proxying through some DNS server.

TBH this seems like a wsl kink, some users reported [a restart is enough](https://github.com/MicrosoftDocs/WSL/issues/422#issuecomment-502467898), others say its [ip collision in the

[2022-10-02 13:50] GeorgiaM-honestly opened #115 "auto: Download of sd-v1-4.ckpt from drive.yerf.org times out or is very slow (roughly 1h30m download time estimate)"
After removing all instances of the repo, stopping all containers, and cleaning up everything with "docker system prune --volumes" thus bringing me to a clean state as far as I know, I performed a git clone and then followed the setup instructions. Upon issuing this command:

``
docker compose --profile auto up --build
``

There is an attempt to download sd-v1-4.ckpt from drive.yerf.org. After abo

[2022-10-02 14:28] GeorgiaM-honestly commented on #115
On closer review this appears to be an upstream issue, not an issue with your project. I apologize. Please close it if you wish.

[2022-10-02 14:56] AbdBarho commented on #115
@GeorgiaM-honestly This should not be the case.

as part of the `docker compose --profile download up --build` command, the model should be downloaded. (speed is not something I can control, but it should be there).

Can you check the contents of the folder `data/StableDiffusion`? it should have at least one file with the name `model.ckpt` (~4GB) in size.
Is this the case?

[2022-10-02 16:40] tostt commented on #114
Thanks for the tips, I will look into your leads (restarting docker didn't help).
Regarding a simpler compose file, I tried to concoct something with the YAML merge key (“<<” ) in multiple ways, but that didn't work.

Another option is to use a config file and launch the services with the `--env-file` option. However, I think it's overkill.

[2022-10-02 17:17] GeorgiaM-honestly commented on #115
I understand, the auto project (or something it depends on) is controlling where the files are hosted.

After obtaining a TCP/HTTP(s) session that is both established and data is sent slowly and waiting long enough, the entire file is indeed there.

[2022-10-03 07:53] AbdBarho commented on #114
I updated the wiki with a small description and a link back to this issue.

[2022-10-03 07:53] #114 closed

[2022-10-04 03:21] #48 closed

[2022-10-04 03:22] #16 closed

[2022-10-04 20:32] geoff-maddock opened #117 "Auto-detected mode as 'legacy' nvidia-container-cli: initialization error: WSL environment detected but no adapters were found"
I'm using Windows with WSL1

Running the command:
[code]

I'm getting an error:
[code]

Kind of seems like a generic error, not related to this repo - but has anyone run into this and have suggestions?

[2022-10-04 20:34] AbdBarho commented on #117
WSL2 has GPU support, WSL1 doesn't.

[2022-10-04 20:43] geoff-maddock commented on #117
Thanks - I think I should be able to switch to WSL2 at minimum to try this out.

[2022-10-04 20:43] #117 closed

[2022-10-04 22:24] kywch opened #118 "Error load metadata for docker.io/library/alpine:3.15"
Hello, thank you @AbdBarho for making this wonderful docker!

I'm a novice docker user, and I encountered the below error while running the first command `docker compose --profile download up --build`.

[code]

I solved this issue by [the following comment](https://github.com/docker/buildx/issues/476#issuecomment-761875948)

1. Create an account on 'https://hub.docker.com/'
2. Run in terminal: 'do

[2022-10-05 00:16] rgriffogoes commented on #107
Do you get any error messages? are you able to run other docker images?

`sudo docker run hello-world`

Or even nvidia hello world:

`sudo docker run --rm --gpus all nvidia/cuda:11.0.3-base-ubuntu20.04 nvidia-smi`

[2022-10-05 03:20] #53 closed

[2022-10-05 03:20] #51 closed

[2022-10-05 05:13] AbdBarho commented on #118
Might be related to #56

A docker account is not necessary for downloading and running this app. maybe there is some sort of misconfiguration in your docker setup that led to this.

Anyway, glad it worked.

[2022-10-05 20:23] TehFridge opened #119 "failed to solve: executor failed running [/bin/bash -ceuxo pipefail conda install python=3.8.5 && conda clean -a -y]: error creating overlay mount to /var/lib/docker/overlay2/1tyz8ab42xxmlt0sxcv66mirh/merged: too many levels of symbolic links"
![image](https://user-images.githubusercontent.com/85436576/194155887-ab9672e5-a633-44e9-8fa0-81c7d1b0c879.png)
i am just trying to install this with docker and on the second step it just does this.

[2022-10-06 04:56] AbdBarho commented on #119
@TehFridge please  use the bug template next time.

what version of windows / wsl / docker / docker compose do you have?

[2022-10-06 08:52] TehFridge commented on #119
Docker version 20.10.17, build 100c701
Docker Compose version v2.10.2
WSL2

[2022-10-06 19:41] #50 closed

[2022-10-06 23:23] #118 closed

[2022-10-09 03:49] #64 closed

[2022-10-09 17:16] hmartiro commented on #118
I ran `sudo apt install gnome-keyring` per https://github.com/microsoft/vscode-docker/issues/1515 and this worked for me on Ubuntu Bionic.

[2022-10-10 15:04] ChronoStriker1 opened #122 "Feature Request - Please add the following as docker shares in /data"
I'm currently manually editing an override file for this but I think it may be helpful to those less familiar with docker containers if you could add the following destinations.  I'm assuming you would want them in the ./data dir.

So you can save styles - I don't think I created this correctly since it seems to say its in use when writing back to it
      `- ./services/AUTOMATIC1111/styles.csv:/s

[2022-10-10 16:31] AbdBarho commented on #122
@ChronoStriker1 Thank you for the suggestion, this seems to be related to #102.

The biggest question / concern that I have is keeping stuff that can be used across multiple UIs separate from UI-specific features & mounts.

I am unsure how to go about this, `data/auto/...` for all the stuff related to this UI, and then `data/hlky/...` and so on? or maybe a new folder called `ui` for all ui specifi

[2022-10-10 17:15] ChronoStriker1 commented on #122
Keeping it up to the user I think would be fine I would at that point just have the lines needed in the docker file commented out as optionals and just mention it int he wiki how to add them as an override or have a script that when the download profile is run, checks to see if those lines are uncommented and then creates the folder structure.  That might be overly complicated for a feature only o

[2022-10-11 03:56] #72 closed

[2022-10-11 09:11] jekanev opened #123 "automatic ui error"
error when start automatic ui

[code]
first i run
docker compose --profile download up --build
then
docker compose --profile auto up --build

i run bash inside
[code]
seem i can fix it with git and all work well
`git clone https://github.com/CompVis/taming-transformers.git repositories/taming-transformers`
but not working with default setup.

[2022-10-11 09:54] AbdBarho commented on #123
that is strange,
the repo is cloned explicitly in the dockerfile, https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/master/services/AUTOMATIC1111/Dockerfile#L15

do you have the most up-to-date state of this repo?

[2022-10-11 10:08] jekanev commented on #123
yes i `git pull origin maser` right before run setup commands.

[2022-10-11 10:52] Decayo opened #124 "Image save path problem in WSL with docker"
Overall, is able to produce images and works very well.
But in WSL + Docker environment, it seems that images cannot be saved

webui-docker-auto-1  | Traceback (most recent call last):
webui-docker-auto-1  |   File "/stable-diffusion-webui/modules/ui.py", line 158, in f
webui-docker-auto-1  |     res = list(func(*args, **kwargs))
webui-docker-auto-1  |   File "/stable-diffusion-webui/modules/ui.py

[2022-10-11 11:55] AbdBarho commented on #123
@jekanev oh OH! thats a bug. would you like to contribute a fix? add the missing `cd ...` ?

[2022-10-11 11:56] AbdBarho commented on #124
you can try creating a folder in the `output` folder called `saved`, see if that works?

[2022-10-11 12:15] jekanev commented on #123
i not testing it just suggested. i can try do this after test. if test pass should i do pull request? or just drop diff in comments? i kinda amateur in programming.

[2022-10-11 13:09] RWoxiN opened #125 "Build Error. failed to solve: rpc error: code = Unknown desc = failed to solve with frontend dockerfile.v0"
**Describe the bug**
![image](https://user-images.githubusercontent.com/78133217/195098832-6391acd3-e378-4d06-9167-281749448596.png)

**Hardware / Software:**
 - OS: WSL
 - Docker Version, Docker compose version
![image](https://user-images.githubusercontent.com/78133217/195099142-e3723b8e-7d38-4e1c-8ccd-092bdfc9b7b6.png)
![image](https://user-images.githubusercontent.com/78133217/195099225-ec3228

[2022-10-11 14:52] Decayo commented on #124
It works! Thanks a lot. But the error still happenned.

[2022-10-11 16:05] AbdBarho commented on #125
Can you open the docker ui and go into settings, is  the `Use Docker Compose V2` checked? it should be checked

[2022-10-11 16:07] AbdBarho commented on #123
Yes! that's it!

Would you create pull request?

[2022-10-11 16:18] #124 closed

[2022-10-11 16:19] AbdBarho commented on #124
Fixed, now an empty directory will be created if it is not there

[2022-10-11 16:51] AbdBarho commented on #125
Oh, it seems you are running docker from within wsl, can you try running it from windows powershell?

[2022-10-11 17:48] Deminisa opened #128 "xformers on WSL2+Ubuntu for AUTOMATIC1111"
Is this something that is in the works for this repo? Alternatively has anyone been able to get xformers up and running with Win 11 WSL2 + Ubuntu? On newest docker and docker-compose v2.10.2

Tried to replicate whats happening in autos launch.py (https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/a004d1a855311b0d7ff2976a4e31b0247ad9d1f6/launch.py#L133) to install xformers via pip and als

[2022-10-11 18:00] #123 closed

[2022-10-11 18:12] AbdBarho commented on #128
https://anaconda.org/xformers/xformers

Should be enough, haven't tried it though. I will see if I get to it before the weekend.

[2022-10-11 18:30] Deminisa commented on #128
Thanks for the quick response 👍

Do you mean installing it with `conda install -c "xformers/label/dev" xformers` in cli? Since the miniconda image was replaced with python 3.10-slim a couple of days ago (https://github.com/AbdBarho/stable-diffusion-webui-docker/commit/5698c49653dcda6d02b23d4c049971c24318bf64), conda isn't available anymore in the container.

Would be fantastic if you could have a

[2022-10-12 01:14] jiayuandeng opened #129 "nvidia-container-cli error when running UI"
**Describe the bug**
Getting the following error when `docker compose --profile hlky up --build`
[code]

I'm using WSL2 (latest Docker Desktop).
GPU is RTX3090.

**Which UI**

hlky and auto

Please advise.

[2022-10-12 01:37] RWoxiN commented on #125
The same happened in powershell environment.

Already checked.

[2022-10-12 05:08] AbdBarho commented on #129
Which windows version are you running?
Are running docker compose in powershell or in Wsl?

[2022-10-12 05:51] jiayuandeng commented on #129
Windows 10 Pro, 20H2, 19042.928
Running docker compose in powershell

[2022-10-12 06:44] AbdBarho commented on #129
you need >= 2021H2

https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ#other-build-errors-on-windows

[2022-10-12 06:57] AbdBarho commented on #125
my best guess is that docker buildkit is not correctly enabled.

maybe try this? https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-builds

What is your Windows version? and WSL version?

[2022-10-12 07:03] jiayuandeng commented on #129
That makes sense. Thanks!

[2022-10-12 07:03] #129 closed

[2022-10-12 10:31] RWoxiN commented on #125
BuildKit builds has enabled before.
![image](https://user-images.githubusercontent.com/78133217/195319763-faad6d7c-ca83-4515-b200-e4efbcbae350.png)

![image](https://user-images.githubusercontent.com/78133217/195320037-00e05b05-c52b-4aad-ad5a-48dbffba2b78.png)
![image](https://user-images.githubusercontent.com/78133217/195320197-ed5ef6ee-cd1f-4797-a2ae-f866997f7e90.png)

[2022-10-12 20:55] AbdBarho commented on #128
@ProducerMatt eyy no worries man, `xformers` is still a very young library and needs more time to mature.

if I am not mistaken, the library needs to know which GPU you have while building to optimize the build for your architecture. can you try adding this
[code]
before the pip install?

this users seems to have the same problem: https://github.com/facebookresearch/xformers/issues/474

[2022-10-12 22:11] slix commented on #128
The Dockerfile depends on Debian bullseye right now. And I think the prebuilt stuff in conda depends on a version of glibc that is one minor version above what's included with bullseye.

At least when I ran the conda install, it said that it couldn't resolve the environment in any way due to the glibc version being off.

[2022-10-12 22:14] Hexadecimalism commented on #122
Looking to do this as a temporary solution, where is the override file? The closest I've found is mount.sh in services/AUTOMATIC1111.

[2022-10-12 22:29] ProducerMatt commented on #128
The CUDA arch thing from @AbdBarho got me past that error but I run headfirst into this one predicted by @slix. `The current installed version of g++ (10.2.1) is greater than the maximum required version by CUDA 11.2 (10.0.0). Please make sure to use an adequate version of g++ (>=5.0.0, <=10.0.0)`

[2022-10-12 22:40] izcoser opened #130 "UI fails to launch - could not select device driver "nvidia" with capabilities: [[gpu]]"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

I tried to run the app with: ```sudo docker compose --profile auto up --build``` and got an error:
```Attaching to

[2022-10-12 22:43] izcoser commented on #130
Sorry, answer was in the FAQ.

Closing.

[2022-10-12 22:43] #130 closed

[2022-10-12 23:04] slix commented on #128
This is different than the error I ran into with `conda install`. My error was about glibc, not g++.

[2022-10-13 01:12] slix commented on #128
After a lot of trial and error, I got a working build and usage of xformers in Docker. I'm able to generate images in the web UI without error.

In `docker-compose.yml`: add `--xformers` to `CLI_ARGS`.

`services/AUTOMATIC1111/Dockerfile` right before `COPY . /docker`:

[code]

With all those entries in the arch list, the build takes me ~90 minutes. But the full list will work for most graphics ca

[2022-10-13 03:59] #84 closed

[2022-10-13 10:02] DevilaN commented on #128
Tried it, and I am confirming, that it works with my GP107M [GeForce GTX 1050 Ti Mobile].
Starting gives nice message: "webui-docker-auto-1  | Applying xformers cross attention optimization."
Also performance gain on my laptop is almost 100%. Generation time is halved probably due to less thermal throttling.

Seems that it needs a bit of reorganizing of package installing and removing cache and un

[2022-10-13 14:04] Deminisa commented on #128
Look at all the activity. Great stuff! ❤️

 With some small changes of the code from @slix , the following worked on my end

1) (_I did this manually from the CLI in the auto container created by this repo_)
[code]
Some observations/notes
* Removing software-properties-common took the Python 3.9 vs 3.10 question out of the equation and made everything else work as-is
* I saw that wget was missing

[2022-10-13 14:34] xNissX233 opened #132 "auto-cpu but it throws an error because no Nvidia found"
**Has this issue been opened before?**
No

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

After downloading latest release and build the docker with docker compose --profile download up --build, I try

[2022-10-13 15:07] ProducerMatt commented on #128
I saw a message in the xformers build log that installing ninja-build would speed up the build process. I tried it and it appears to have cut 3/4ths of the xformers build time on a brand new container, which is so drastic I'm re-timing with & without ninja to make sure I didn't screw up somewhere.

[2022-10-13 17:54] chenjunnn opened #133 "AUTOMATIC's folk missing module 'taming'"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

[code]

**Which UI**

auto

**Hardware / Software**
 - OS: [Windows 11 WSL2]

**Additional context**
It seems like

[2022-10-13 17:55] AbdBarho commented on #132
@RBNXI can you please show the entire log? I need to see the error.

[2022-10-13 18:04] AbdBarho commented on #133
@chenjunnn it seems that the clone of the repo fails, without the build failing, I created a new branch that will show the error (in case there is any), can you check it out and tell me if it works? #134

[2022-10-13 18:07] AbdBarho commented on #125
I am sorry man, I  am out of  ideas, the problem is that your docker version for whatever reason does not recognize the new syntax, even though you have all up-to-date versions.

[2022-10-13 18:27] AbdBarho commented on #133
just for info:

the taming transformers repo is HUGE ~100MB for zip, more if you git clone, to the degree that the download might fail if your internet connection has a small hiccup.

[2022-10-13 18:31] chenjunnn commented on #133
I wonder why the building process didn't cancel if the download failed.

[2022-10-13 18:42] AbdBarho commented on #132
yeah no, the problem is not nvidia, 4GB RAM is not enough, you need at least 16! sorry I did not see it earlier.

[2022-10-13 18:45] AbdBarho commented on #133
long story short, bash/sh only fail if the last command fails.
with the new flags it should fail if any command fails

[2022-10-13 18:46] chenjunnn commented on #133
Thanks for answering!

[2022-10-13 19:05] AbdBarho commented on #132
the error you see is a just warning, it starts to load the model:
[code]
and then crashes.

try it with 12, if it fails, increase to 16?

[2022-10-13 19:34] AbdBarho commented on #132
@RBNXI may I ask why are you running in a VM? is it on the cloud?

[2022-10-13 20:02] #132 closed, assigned to nobody

[2022-10-14 02:49] slix commented on #128
Some more possibilities for faster builds:

* https://github.com/facebookresearch/xformers/issues/481#issuecomment-1277530256
* https://github.com/facebookresearch/xformers/issues/481#issuecomment-1277600252

My steps for installing Nvidia CUDA packages are from: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#debian-installation

The "Remove Outdated Signing Key" step seems

[2022-10-14 06:27] DevilaN opened #135 "[upgrade] Getting rid of unnecesary git clone of other repositories"
Currently service "download" and other services are using sequence of commands:
`git clone REPOSITORY_URL && cd REPO_DIR && git reset --hard COMMIT_SHA`
This unnecesary downloads entire repository history only to change it's state to specific commit.

It would be better not to download entire repository, but zip file from specific commit instead.
Download link format is https://github.com/{usernam

[2022-10-14 06:52] AbdBarho commented on #135
that is a great idea!

would you like to contribute?

[2022-10-14 07:39] karpfediem commented on #135
in the case of downloads using git, the `depth` flag exists to make shallow copies:
`--depth <depth>       create a shallow clone of that depth`

[2022-10-14 07:57] DevilaN commented on #135
@AbdBarho sure, but I am running only AUTOMATIC1111 version. Is that ok, to improve only it's Dockerfile or I have to do rework of other ones (I am not sure whether I've got enough disk space to build all images).

Also those changes will surely bust docker cache forcing users to rebuild entire image almost from scratch, so it would be better to merge it later with some bigger changes also involvi

[2022-10-14 08:22] karpfediem commented on #135
Yes, it will only download that specific commit with git fetch.

I'd argue against archive downloads since they are very much github specific, not that i've seen any other repositories being used though to be fair :sweat_smile:

[2022-10-14 10:17] AbdBarho commented on #128
Thank you all

I am working on it, but my bad internet is not helping much...

You are welcome to contribute a working solution!

[2022-10-14 18:20] AbdBarho commented on #128
I managed to get it up & running, ~20% improvement on my 1060, from 25s per image to 20s. could you all please try it and report your results?

the branch is called `xf` (don't ask about the name, I was furious, also don't ask about the commits)

[2022-10-14 18:59] Corshi opened #137 "Community finetune files are not working for me."
AI thing. I have a problem with addiction,
So I use the " AbdBarho / stable-diffusion-webui-docker" repo and "AUTOMATIC1111" version from it. All normal hypernetworks .pt files works fine for me. But all community's ones give me thins like this:
[code]
any ideas?

"by normal hypernetworks .pt files works", I mean that I added this line:
[code]
to \services\AUTOMATIC1111\mount.sh
and all the approp

[2022-10-14 19:16] AbdBarho commented on #137
@Corshi can you give a link to the normal and community hypernetworks so I can test?

[2022-10-14 19:46] AbdBarho opened #138 "FileNotFoundError: [Errno 2] No such file or directory: 'output/txt2img-images'"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

Error happens on start up, the rest works fine, I can generate images.

**Which UI**

auto

[2022-10-14 20:42] #102 closed

[2022-10-14 20:42] AbdBarho commented on #102
the config file has been moved to `data/config/auto`

[2022-10-14 20:54] Corshi commented on #137
"normal hypernetworks" are the .pt modules that are part of the leaked models and is now used by community.
Aka "novelaileak". Sadly can't publicly share or direct you to it. They work thou.

The community models are on the discord server https://discord.gg/JhVXMWza under the #Hyper-data
AUTOMATIC1111 is also on that server...
And other pointer also are there.
Sorry for being cryptic.

[2022-10-14 21:04] AbdBarho commented on #137
No probs, I will see if I can get some to test.

That being said, from the first look I can say the problem is probably not in this repo, but rather in the original https://github.com/AUTOMATIC1111/stable-diffusion-webui

Have you checked there?

[2022-10-14 23:13] Corshi commented on #137
Nothing there about the problem like that.
And if it's about trying to recreate/find the problem on that repo.
No luck, as can't make it to install at all.
 I'm having there some kind of problems recognizing my python and pip. So I will have to check that some other time.

[2022-10-15 01:50] Bluejay47 opened #140 "FileExistsError: [Errno 17] when starting 'auto' interface"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

[code]
is generated in response to

[code]

lstein and hlky seem to run fine

**Which UI**

hlky or auto or auto-c

[2022-10-15 02:51] Bluejay47 commented on #140
Note: I was able to temporarily bypass the error by removing:

[code]

from the mounts.sh file in the services/AUTOMATIC1111 directory.

[2022-10-15 03:17] gregwbrooks commented on #140
Merely commenting to say that I experienced the same bug under the same circumstances today; only difference was that it also showed up on a completely new AWS VM with no previous SD install.

[2022-10-15 06:08] #140 closed

[2022-10-15 06:10] AbdBarho commented on #140
This should be fixed now, please check in your `data` folder if there is a `Hypernetworks` FILE, if so, please remove it first, otherwise if it is  a folder, everything should work fine.

[2022-10-15 06:14] eftSharptooth commented on #128
whl file appears to work, I ran into the issue you just corrected with the mount condition check on the directories and manually added the whl install and that worked fine.

[2022-10-15 06:15] AbdBarho commented on #128
@eftSharptooth I just fixed it in the latest master,  I will rebase!

[2022-10-15 07:33] eftSharptooth commented on #128
I have a training running now, but once it is finished I will also test on a linux system running docker, as opposed to the previous successful Windows 10 test.

[2022-10-15 07:37] KagurazakaNyaa commented on #138
This issue has been fixed in https://github.com/AUTOMATIC1111/stable-diffusion-webui/commit/cd28465bf87d911965790513c37e6881e4231523

[2022-10-15 08:30] cspace-echo commented on #81
Does this also help if you get the error when running the "auto-cpu" profile? because I'm getting this error with that.

[2022-10-15 08:34] AbdBarho commented on #81
@cspace-echo no   this should not happen if you use CPU, can you create a new  issue?

[2022-10-15 08:51] eftSharptooth commented on #128
The wheel does on a linux host as well.

[2022-10-15 09:07] DevilaN commented on #128
@AbdBarho : Newly added `pip install` commands does not use `--no-cache-dir` option. Any particular reason behind this?

[2022-10-15 09:22] cspace-echo opened #142 ""Error response from daemon: could not select device driver "nvidia" with capabilities: [[gpu]]" when trying to compose the auto-cpu profile"
**Describe the bug**

Tried to run the GPU:less mode on an old pentium mini-PC, this worked when I ran it as root, but to properly run it in the background I made a user with docker rights to run it in a screen session(which worked as root). The installer/download script failed to install a face-fix component, but that wasn't an issue earlier.
Error response from daemon: could not select device dr

[2022-10-15 09:25] cspace-echo commented on #81
Done, #142

[2022-10-15 09:32] AbdBarho commented on #142
@cspace-echo this is not the correct repo. this is not my code.

[2022-10-15 09:35] AbdBarho commented on #128
@DevilaN yes! laziness.

[2022-10-15 10:12] cspace-echo commented on #142
Ach sorry, I mixed up two similarly named archive files. I'm guessing "cmdr2/stable-diffusion-ui"'s script overwrote some of your code when I ran it, when I started from scratch to transition from root to my service-user account.

[2022-10-15 10:15] AbdBarho commented on #142
No probs!

[2022-10-15 10:15] #142 closed

[2022-10-15 11:05] xNissX233 opened #143 "Error when trying to create embedding (Expected all tensors to be on the same device)"
**Has this issue been opened before?**
No

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

I tried to create an embedding in Textual inversion menu, but after clicking on "create" it says "Error" in red

[2022-10-15 13:43] AbdBarho commented on #143
@RBNXI You  are using an old version, the WebUI does not use neither python3.8 nor conda.

[2022-10-15 13:47] AbdBarho commented on #137
After looking into hypernetworks, I seriously question the legality of any of this.

I apologize I won't be able to assist you further.

[2022-10-15 13:47] #137 closed

[2022-10-15 14:32] #125 closed

[2022-10-15 14:34] AbdBarho commented on #143
did you use git? switch to latest master

[2022-10-15 15:13] AbdBarho commented on #143
a lot has changed in the last 8 days.

Do you use git? it would be a lot easier for you if you just `git clone` the project.

[2022-10-16 01:47] waxnssg opened #144 "Please help me got RuntimeError: CUDA out of memory."
when i perform docker compose --profile hlky up --build
this is error log:
/mnt/d/stable-diffusion-webui-docker$ docker compose --profile hlky up --build
[+] Building 9.5s (18/18) FINISHED
=> [internal] load build definition from Dockerfile 0.0s
=> => transferring dockerfile: 32B 0.0s
=> [internal] load .dockerignore 0.0s
=> => transferring context: 2B 0.0s
=> resolve image config for docker.io/do

[2022-10-16 04:01] #92 closed

[2022-10-16 07:52] Can232 opened #145 "Can't build custom model with cmd command."
I tried to put them in the normal model folder too but it said something about a source not being found each time.

[2022-10-16 13:39] AbdBarho commented on #143
@RBNXI after a while of debugging, turned out that you cannot train anything if you have the `--medvram` flag, which is set per default in the `docker-compose.yml` file, you can remove it and try again. It did not work on my machine (also 1060/6GB) because out of memory.

[2022-10-16 14:10] AbdBarho commented on #144
can you try running  it from powershell, not WSL?

[2022-10-16 14:19] AbdBarho commented on #143
In that case, I would basically have to always copy/paste the entire documentation of every UI.  I think  its best if users look it up themselves. https://github.com/AUTOMATIC1111/stable-diffusion-webui/wiki/Textual-Inversion

Bug! #138, I have an MR that should close it #146

It was hidden because of the flag `--hide-ui-dir-config`, which I have also removed in #146.

Just for info, the `data` an

[2022-10-16 14:19] AbdBarho commented on #138
@KagurazakaNyaa  Thank you, I created an MR #146

[2022-10-16 14:23] #143 closed, assigned to nobody

[2022-10-16 14:27] #138 closed

[2022-10-16 14:27] #105 closed

[2022-10-16 14:35] #128 closed

[2022-10-16 14:37] AbdBarho commented on #145
Please fill out the [bug template ](https://github.com/AbdBarho/stable-diffusion-webui-docker/blob/master/.github/ISSUE_TEMPLATE/bug.md) so i can help.

[2022-10-16 14:39] AbdBarho commented on #143
@RBNXI you can now try the stuff from master,  open the terminal and:
[code]

[2022-10-16 22:48] azamtoiri commented on #125
how you solve this?

[2022-10-16 23:42] dathide opened #147 "[Request] Add easy way to change max batch size"
Thanks for keeping this repo up to date! Changing max batch sizes is a line change in uiconfig.json
https://github.com/AUTOMATIC1111/stable-diffusion-webui/wiki/Change-UI-Defaults

With the latest version of this repo, a batch size of 8 only uses around 5GB of VRAM on my 3090's 24GB. Could you add something in docker-compose.yml to allow the max batch sizes to be changed? I tried doing it myself b

[2022-10-17 04:04] ProducerMatt opened #148 "[Request] Deforum plug-in for Auto"
Deforum's scripts provide video-generation functionality with camera movements. They can be installed as a plug-in with this repo: https://github.com/deforum-art/deforum-for-automatic1111-webui

I'm trying to get it working in your repo. With [these changes](https://github.com/AbdBarho/stable-diffusion-webui-docker/compare/master...ProducerMatt:stable-diffusion-webui-docker:auto-plugins) I can get

[2022-10-17 08:00] AbdBarho commented on #147
@dathide what we should probably do is make the `ui-config.json` be available for users to modify.

I will see if I can get to it by the end of the day.

[2022-10-17 16:55] #147 closed

[2022-10-17 16:57] AbdBarho commented on #147
@dathide the feature is added, here is what you should do:

* pull the latest state from master
* start the auto ui & open in the browser
* stop the ui
* you should now have a file `data/config/auto/ui-config.json`
* you can change whatever you want there, not just the batch size.

[2022-10-17 17:05] AbdBarho commented on #148
@ProducerMatt I am not sure how I can help you, I haven't used the script myself so it is hard to tell.

That being said, your changes seem correct, the problem is something else.

[2022-10-17 22:06] Corshi opened #151 "[Noob Question] Location of WEBUI repo and editing"
Last auto's repo has a bug that adds empty layers into the models after merging.
I would like to open the directory of auto's webui and just drop the old files, or even the modded files made by community.
Problem is, I don't know how this works.
From what I understand, Docker is a mixture of virtualization with command-line hub and symbolic links.
Those files are stored somewhere. In virtual drive

[2022-10-17 22:29] Corshi commented on #151
This also can be transferred into suggestion.
If files are stored in secured visualized environment controlled by Docker,
it would be nice to have an "Overwrite" folder in your repo.

So like "overwrite-auto" folder, to overwrite files of auto's repo - if the file's names and locations are set correctly to the og (downloaded) repo.

[2022-10-18 08:26] DevilaN opened #152 "Problem parsing config with jq during startup"
**Describe the bug**

AUTOMATIC1111 config parsing with `jq` has problem that prevents service start.

**Which UI**
auto

**Hardware / Software**
Seems that this is not hardware / software specific

**Steps to Reproduce**
1. Start with clean repository
2. Build images if required.
3. Run service.
4. See error:
[code]

**Additional context**
Nothing that I think of which may be relevant for this ca

[2022-10-18 09:07] AbdBarho commented on #152
can you copy the json file here?

[2022-10-18 09:27] DevilaN commented on #152
Ok, after some debug I've found, that source file is poorly located and local changes in config.json has been saved and stored inside image.
My `/docker/config.json` file looks like this:
[code]

So it has been somehow cached during build time. Rebuild image and then another error.
Running it then created EMPTY `data/config/auto/config.json` file in local volume directory (cannot be detected easil

[2022-10-18 09:47] AbdBarho commented on #152
the `/docker/config.json` is like this because of a merge conflict when you `git pull` ed, this is nothing that I can test for.

I think sanity checks are a good idea, but there is so much stuff that could go wrong, I don't think it makes sense.

[2022-10-18 09:47] #152 closed

[2022-10-18 12:59] futurevessel opened #153 "Notification"
In the official AUTOMATIC1111 version, you can place a notification.mp3 file in the webui root dir which will then be played when the generation is done, which is very good for long batches.

Does this work with this version, and if so, where should you place the notification.mp3 file ?

[2022-10-18 16:57] AbdBarho commented on #151
Unfortunately, that is not possible.

Yes, they are stored somewhere, but not in any of the options that you mentioned, each layer of the docker image has its diff saved in binary format. You cannot just browse through the image or modify it.

That being said, you can modify the container, you can either copy your files while building using the [COPY command](https://docs.docker.com/engine/referen

[2022-10-18 17:38] Corshi commented on #151
Thank you, you have me a lot of useful pointers. I really do appreciate it.

[2022-10-18 19:23] futurevessel commented on #153
I see, that makes sense. Thanks for the fast answer and this great docker solution, take care!

[2022-10-18 19:23] #153 closed

[2022-10-19 05:37] KiritoGuugk opened #154 "how to use proxy when setup the container"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**
I am in the country can not access to Google, so I have to use proxy. I have a proxy and I can use it by access 127

[2022-10-19 06:30] DevilaN commented on #154
HI!

If needed you can download files by yourself and place it in proper places within "data" directory structure.

It seems that "download" service is using `aria2c`. There is a good part of section in manual about proxy for this software: https://aria2.github.io/manual/en/html/aria2c.html#environment

It is worth a try to pass environment variable with proxy configuration to download service, so

[2022-10-19 08:03] AbdBarho commented on #154
@DevilaN thank you for the detailed answer.

I would also like to add an option:

If the proxy cannot listen on all interfaces, try update the service so that it uses the host network, something like `network_mode: host` in your override file, [more info here](https://docs.docker.com/compose/compose-file/compose-file-v3/#network_mode):
[code]
this should make your proxy reachable from the containe

[2022-10-19 09:40] KiritoGuugk commented on #154
Thank you for the detailed answer. I'm using a proxy  program called Qv2ray which is the GUI version for v2ray. I don't know if I can change the settings to listen on port 1080 on all interfaces. The default settings in Qv2ray are in the image below(my flameshot doesn't work so I have no choice but to use my camera)
![2](https://user-images.githubusercontent.com/35999227/196655817-e36ab232-ae2a-45

[2022-10-19 09:54] KiritoGuugk commented on #154
Thank you for your help, I create the docker-compose.override.yml as :
[code]
then I change the docker-compose.yml:
[code]
but get this error:
[code]

[2022-10-19 10:34] AbdBarho commented on #154
I see the listen address in the top, can you change the address from `127.0.0.1` to `0.0.0.0`?

you don't need to change the original `docker-compose.yml` file, only the override, you can also takeout the `network_mode` and try it with the solution from @DevilaN.

[2022-10-19 12:25] KiritoGuugk commented on #154
it works for download but when it comes to

it works for download so I do the same to other profiles:
[code]
but when it comes to
[code]
it fails:
[code]

[2022-10-19 12:39] KiritoGuugk commented on #154
also fails:
[code]

[2022-10-19 14:52] AbdBarho commented on #154
Ok it seems that you will face this error much often that expected, can you try proxying docker entirely? https://docs.docker.com/network/proxy/#configure-the-docker-client

you won't need the individual overrides anymore.

[2022-10-20 02:34] KiritoGuugk commented on #154
Thank you and @DevilaN for your patience in answering. It works.
[code]

[2022-10-20 02:34] #154 closed

[2022-10-20 06:24] Zudva opened #156 "No such file or directory: 'F:\\git\\stable-diffusion-webui-docker\\test_input_frames'"
I am getting this error when I start the Batch Image2Image process:

[code]

I need add this folder to docker container?

[2022-10-20 07:04] AbdBarho commented on #156
all the data that you want to put in or get out of the container should be either in the `data` or the `output` folders.

both folders are mounted in the container under `/`, meaning if you have your input folder called `train_images`, you put it under the `data` folder, and in the web ui you reference to it using the path `/data/train_images`, and so on.

Of course you can mount other folders if

[2022-10-20 10:35] Zudva commented on #156
This work! Thank you!

[2022-10-20 10:35] #156 closed

[2022-10-20 12:15] DevilaN commented on #151
Overwriting files by scripts is tricky-sneaky. Eventually you end up with state you are not sure how works.

You might want to tag images with versions (would be better if @AbdBarho done it with semantic versioning) using docker-compose.override.yml with entry naming image, like:
[code]

Also you can tag current image with other name for later purposes like: `docker image tag webui-docker-auto:lat

[2022-10-20 23:23] loglob opened #158 "auto: Fails to start with strconv.Atoi: parsing "": invalid syntax"
When starting the AUTOMATIC1111 frontend via `docker compose --profile auto up`, it fails to start with the error message
`strconv.Atoi: parsing "": invalid syntax`. There is no other output from the command.

This was working fine until a few days ago. From what I can tell I think this is a docker problem so I think it stems from this repo and not AUTOMATIC1111's.

I've already tried re-cloning t

[2022-10-21 00:08] bhjolly opened #159 "Error during download phase (can't get /data/StableDiffusion/model.ckpt)"
**Has this issue been opened before?**

- [x ] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [ x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

`sudo docker compose --profile download up --build` fails to download StableDiffusion, investigating further up

[2022-10-21 00:55] zhoutaizi opened #160 "desc = failed to solve with frontend dockerfile.v0"
when I entered the command "docker compose --profile auto up --build",
failed to solve: rpc error: code = Unknown desc = failed to solve with frontend dockerfile.v0: failed to solve with frontend gateway.v0: rpc error: code = Unknown desc = dockerfile parse error on line 14: unknown instruction: git

[2022-10-21 01:14] zhoutaizi commented on #160
I'm very sorry that it's my first time to use "issues", I realized someone posted same issue before, and I can't delete this.

[2022-10-21 01:14] #160 closed

[2022-10-21 01:40] d4rk6un commented on #159
same issue.

[2022-10-21 02:12] AbdBarho commented on #159
it  seems that the link is dead, I will try to find other links

[2022-10-21 02:28] #159 closed

[2022-10-21 02:29] AbdBarho commented on #159
A new  link is now used, @d4rk6un  @bhjolly can you try from latest master? if it is not working, re-open this issue.

[2022-10-21 02:37] AbdBarho commented on #158
is `strconv.Atoi: parsing "": invalid syntax` the only thing that is output? can you try with `--verbose`?
[code]

Maybe we get a more meaningful error message.

Possibly  related:
https://github.com/docker/compose-cli/issues/1537
https://github.com/docker/compose/issues/9240
https://stackoverflow.com/questions/73948802/strconv-atoi-parsing-invalid-syntax#comment130813944_73948802

[2022-10-21 02:38] AbdBarho commented on #160
@zhoutaizi No problem! I hope your problem is fixed.

[2022-10-21 02:53] AbdBarho commented on #151
@DevilaN I am not sure how to semantically version a container?

Maybe I could adopt the versioning scheme of the original repo, but there is none to speak of. Do you have any suggestions?

[2022-10-21 03:44] loglob commented on #158
I managed to solve it:
```docker compose down --remove-orphans```
cleared some broken (?) containers and after that, it worked again.
It also deleted my model.ckpt though.

[2022-10-21 03:44] #158 closed

[2022-10-21 05:49] d4rk6un commented on #159
It's working. Thanks, @AbdBarho

[2022-10-21 06:04] #119 closed

[2022-10-21 07:18] DevilaN commented on #151
@AbdBarho Any versioning scheme would be better than nothing. If there is any unique tag (even sequential numbers) on image that allows to do git checkout on specific commit in this repo, than you can always switch back to previous state of entire app without a need to recompile it from scratch.
This will also give benefit of automatically build images when needed. If nothing changes new version w

[2022-10-21 07:56] pengkaiwei opened #162 "win10 wsl docker error . Traceback (most recent call last): ....webui.py", line 137, in <module> ..../webui.py", line 105, in webui app, local_url, share_url = demo.launch("
[code]

Tks！

**Describe the bug**

**Which UI**

docker compose --profile hlky up --build
&
docker compose --profile auto up --build

.wslconfig
[wsl2]
memory=32GB

**Hardware / Software**
 - OS: Windows 10
 - OS version: 21H2
 - WSL version (if applicable): wsl2
 - Docker Version: 20.10.20
 - Docker compose version: v2.12.0
 - Repo version: from master 42cc17da74ed28636905bdccb4eeddf1037fc84c
 -

[2022-10-21 15:48] AbdBarho commented on #162
@pengkaiwei Google Collab  was never really a  target for this container, but you can try supplying the  share parameter anyway, see if it works:

Create a new file called `docker-compose.override.yml` in the root of the repo and add the following:
[code]
and try running  again.

[2022-10-21 21:43] DevilaN opened #163 "Add new official models to download"
There has been new official model files around. v1.5 base model and v1.5 inpainting specific model.
Please add those files to download container as it seems that alongside v1.4 those files instantly became "standard" in regular SD workflow.

[2022-10-22 00:55] pengkaiwei commented on #162
I'm sorry, I made a mistake. I'm running it on my PC, not Google Collab.

[code]

[2022-10-22 03:36] #61 closed

[2022-10-22 08:45] AbdBarho commented on #163
#164

[2022-10-22 08:45] #163 closed

[2022-10-22 08:48] AbdBarho commented on #162
The question here is why can't the container access the network? this is probably related to your docker config, do you have any special docker configurations? is it a new install? are you running the commands from within wsl or from powershell?

[2022-10-22 08:49] AbdBarho commented on #151
@DevilaN I started with a sequential scheme in #164, lets see how  it evolves

[2022-10-22 09:30] lizekui opened #165 "unknown flag: --profile ? And my docker is latest?"
My OS is Ubuntu 16.04, when I type `docker compose --profile download up --build`

returns:

[code]

My software version is as follows:

[code]

[2022-10-22 09:41] AbdBarho commented on #165
`docker compose` not `docker-compose`

[2022-10-22 14:49] AbdBarho commented on #165
`docker-compose` is the old v1 which does not have the flag.

`docker compose` is v2 which has the flag

what is your `docker compose version`?

[2022-10-22 16:29] pengkaiwei commented on #162
wsl2 is new ， docker windows is new.
But the http proxy I set for docker。
It is my docker that can access the network.
Is it for this reason?

Tks.

This is my C:\user\user\.docker\config.json

[code]

[2022-10-22 16:47] AbdBarho commented on #162
why are you using `host.docker.internal` for the proxy? is your proxy running in a container? (there is another user who was also using a proxy #154)

Maybe this helps? https://github.com/gradio-app/gradio/issues/1747#issuecomment-1181225687
TLDR: add `"noProxy": "localhost"` to your `"defaults"` object?

[2022-10-22 17:40] pengkaiwei commented on #162
Proxy is  v2rayn in host windows.
docker windows Proxy to host pc ,  no is 127.0.0.1 ,
host.docker.internal    is  to host win ip

https://docs.docker.com/desktop/networking/#there-is-no-docker0-bridge-on-the-host

add
[code]
I will try later, tks！

[2022-10-22 17:52] pengkaiwei commented on #162
I reset the .docker\config.json and deleted the proxy settings.

docker compose --profile hlky up --build
Then i can open the webui, but after rendering a picture, it is automatically closed.

Tks.

···
{
  "credsStore": "desktop"
}

···

[code]

[2022-10-22 18:45] AbdBarho commented on #162
this is a very weird problem, my first guess is that the container is killed because it uses too much memory, but you have enough RAM.

what is the output of `docker inspect webui-docker-hlky-1`? (feel free to remove all personal information)

[2022-10-22 19:49] pengkaiwei commented on #162
This is my  docker inspect webui-docker-hlky-1    output .
tks

[code]

[2022-10-22 20:01] pengkaiwei commented on #162
I try to delet docker  containers Env  proxy setting.

seems to be working fine。

[code]

docker log

[code]

[2022-10-22 21:06] DevilaN opened #167 "Errors and warning whenever running download service"
**Describe the bug**

Running download service there are some info stating there is `[WARN]` or  `[ERROR]` info.

**Which UI**
none :)

**Hardware / Software**
Doesn't matter

**Steps to Reproduce**
1. `docker compose --profile download up --build`
2. Boom...
[code]
Despite all those scary warnings and errors it still manages to pull it off and download everything, so I would treat is as low prior

[2022-10-23 20:09] DevilaN opened #168 "[Feature] Docker style entrypoint for auto"
This issue addresses PR https://github.com/AbdBarho/stable-diffusion-webui-docker/pull/157
I would like to discuss here about a need to clean up some things about docker.

First of all, I believe that docker should be treated as wrapper around original app providing proper environment and tools to easily maintain and setup application.
One of main things is separation between CMD (which should be

[2022-10-23 20:31] DevilaN commented on #165
Ubuntu Linux 16.04 LTS reached the end of its five-year LTS window on April 30th 2021 and is no longer supported by its vendor, Canonical except through a paid annual Extended Security Maintenance (ESM).
Your docker version (`20.10.7`) has been released on `2021-06-02` and almost for sure does not contain `compose v2`, because it has been release with 20.10.13 as a plugin to run alongside v1.
Dock

[2022-10-24 06:32] bluedevil678 opened #169 "Updating container to latest automatic1111 release"
Do we have plans for updating the container to stay current with the updates being made by auto?

[2022-10-24 07:17] DevilaN commented on #169
I do not believe this is a good idea.
A1111 do not have versioning incorporated, and development / progress speed is insane. Although this has numerous benefits, it also has some drawbacks, like there is no possibility to test everything. If you take a look at issues at A1111 repo, there is quite a number of bug reports stating that something has been broken by last change.
Question is whether or

[2022-10-24 07:22] bluedevil678 commented on #169
You make some valid and strong points here! A rather mature holistic view of the matter.
On the topic of versioning a possible compromise may be for occasional docker update releases as set versions - possibly via docker hub for accessibility.

The work done here so far is both impressive and exciting and I'd love to ensure the community stays as up to date (with this docker work) as possible.

[2022-10-24 08:08] DevilaN commented on #169
Image on dockerhub has been discussed here: https://github.com/AbdBarho/stable-diffusion-webui-docker/issues/7
I've got some ideas with hybrid approach, so you don't have build everything "from scratch", but there are other things to clarify first, and this is not my project, so it probably should wait a bit longer.

[2022-10-24 16:16] shadowwinds commented on #125
i got same error when registry-mirrors is specified
check this https://github.com/moby/moby/issues/39120

[2022-10-24 18:14] AbdBarho commented on #168
agree

true

Also there is unclear for me what are current expectations after https://github.com/AbdBarho/stable-diffusion-webui-docker/pull/157#issuecomment-1286418811 - whether shall I close this PR or leave it like it is right now?

The only things that "scares" me in #157 is that it is too boilerplate-y, the number of lines in the new entry point is almost the same as the mount. Also, I prefer

[2022-10-24 18:55] AbdBarho commented on #169
I agree with all the points the @DevilaN mentioned, I could live without versioning, assuming there were tests...

IMHO, invoke / lstein is the only fork that does it right (that I know of).

Anyway I did an update in #171, maybe now you can use what you're looking for.

That being said, if you want to live on the edge and you want to try the latest state of the app without waiting for me, you can

[2022-10-24 20:18] DevilaN commented on #168
Universal "devil you know". It is mostly based on ENTRYPOINT used in `nginx` images.
Most of entrypoint scripts I've encountered do not give much flexibility when extending image. Here you can add other small scripts that run between any two existing ones without the need to rewrite entire entrypoint script from scratch (providing original set of scripts in entrypoint.d directory was not a mess to

[2022-10-24 20:47] DevilaN commented on #168
@AbdBarho, sorry but there is no other alternatives I know about.
I prefer scripts to be small, easy to maintain and well planned. This lowers possibility of failures, but nonetheless this does not guarantee bulletproof entrypoint scripts, and I don't think that there is anything that would.

(Who knows... maybe in some near feature there will be Stable Diffusion for computer code, and it would be

[2022-10-24 20:51] DevilaN opened #172 "Handling extensions properly"
I think it's about time to think of proper method to handle extensions.
AUTOMATIC1111 writes some of webui plugins as external repository scripts (like aesthetic gradients).
Right now there is no easy possibility to install selected extensions inside docker without going inside container and play with some tools to install requirements for extension plugin.

Is there anything planned to address th

[2022-10-25 02:36] kelvie opened #173 "High memory usage using auto, with medvram (see issue #2858 in auto's repo)"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

High memory usage using auto, see: https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/2858

**Which UI

[2022-10-25 09:44] pengkaiwei opened #174 "Wsl docker windows，How to use the specified graphics card for running"
Wsl docker windows，How to use the specified graphics card for running.

I have two Nvidia graphics cards, one A4000 and one P106-100. I want to try the P106-100

Similar question here, but I don't know how to set it up in docker.

https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/3156

Tks !

[2022-10-25 18:24] AbdBarho commented on #172
There is nothing currently, unfortunately, I am unable to keep up-to-date with all the stuff that is happening, can you tell me a bit more about them? or maybe where I can read more?

if it is a useful feature we should add it!

[2022-10-25 18:25] AbdBarho commented on #174
you can create a file in the root of the repo called `docker-compose.override.yml` and put this in it:

[code]

[2022-10-25 19:36] wilcockj commented on #172
I am also having issues with extensions, https://github.com/AUTOMATIC1111/stable-diffusion-webui-aesthetic-gradients is one example. This is the documentation on extensions from AUTOMATIC1111, https://github.com/AUTOMATIC1111/stable-diffusion-webui/wiki/Extensions . They should be installed by copying to the extensions directory, but I have not been able to get that to work with the docker contain

[2022-10-25 19:51] StableInquest commented on #148
@ProducerMatt Did you solve this. I'm having the same issue. `Python error "No module named 'py3d_tools'"`

[2022-10-25 20:45] ProducerMatt commented on #148
@StableInquest Nope. I tried with the new version and I still get the same problem. https://github.com/AbdBarho/stable-diffusion-webui-docker/compare/master...ProducerMatt:stable-diffusion-webui-docker:auto-ext

[2022-10-25 21:29] AbdBarho commented on #148
here is how you setup Deforum:

1. checkout the branch #176 `auto-extensions`
2. `mkdir -p data/config/auto/extensions`
4. `git clone https://github.com/deforum-art/deforum-for-automatic1111-webui/ data/config/auto/extensions/deforum`
5. create a file `/data/config/auto/startup.sh` and put the following in it:
[code]
6. run `docker compose --profile auto up --build`
7. you should see a new tab cal

[2022-10-25 21:42] wilcockj commented on #172
For anyone trying to solve this in the future I was being dumb, just need to add the following line to services/AUTOMATIC1111/mount.sh

MOUNTS["${ROOT}/extensions"]="/data/extensions"

then i could simply clone the extension directory to data/extensions and it works. If you want me to make a pull request i can just don't know how extensions work for the other UIs

[2022-10-25 21:48] AbdBarho commented on #172
@wilcockj checkout the discussion in #148

[2022-10-25 22:09] Corshi opened #177 "TypeError: '>' not supported between instances of 'NoneType' and 'int'"
New error after yesterdays update. This update happened to me 12 hours ago.
Cant use models and webui doesn't seem to work properly. Defiantly cant generate anything
Also I didn't do anything new. That just started to happen and no reinstalling helped.

This is the error log from after clicking "Generate"
[code]

WEBUI AUTOMATIC1111 (auto)

Hardware / Software

    OS: Windows 11
    OS version: 2

[2022-10-26 07:47] DevilaN commented on #172
This is only "a tip of the iceberg".
Some of extensions require installing additional software to run (there is `requirements.txt` file for deforum plugin: https://github.com/deforum-art/deforum-for-automatic1111-webui/blob/automatic1111-webui/requirements.txt ).
Maintaining extensions that way is a big pain in the a$$, because some of them may require conflicting versions of software.
We can inst

[2022-10-26 17:13] #167 closed

[2022-10-26 17:18] AbdBarho commented on #172
@DevilaN thanks, this mirrors my opinion very strongly, and repeating what I said in https://github.com/AbdBarho/stable-diffusion-webui-docker/issues/148#issuecomment-1291165208, I consider adding support for extensions, but installing, updating, and managing the extensions will be left entirely to the user, no support will be provided.

[2022-10-26 17:21] AbdBarho commented on #172
@DevilaN I already have some basic support for extensions in #176, since you created this issue, I would like get your opinion.

In summary, there will be a new script `data/config/auto/startup.sh` that would run on startup, so users can install whatever they want (missing dependencies for scripts, etc...)

[2022-10-26 18:04] AbdBarho commented on #177
I have just pushed an update to master, see if that fixes the issue, you can also try and clear your settings and try again.

Otherwise this error is in the UI and there is nothing I can do about it.

[2022-10-26 19:13] Corshi commented on #177
So I did a fresh install. Same bug - it was before the update you did.
I did git pull in old install. Same bug.
Did fresh install WITH the update you did. It works.

Thank you very much!

For future reference, where are the settings saved?

[2022-10-26 20:01] DevilaN commented on #135
Remove `.git` directory afterwards. It is not necessary and takes half of space inside directory.

[2022-10-26 20:56] #177 closed

[2022-10-27 07:53] DevilaN commented on #172
OK, I've seen entrypoint prototype.
I've got mixed feelings about running it as sourced script instead of subshell, but this is a matter of good explanation in README. And let's hope that there will be no conflicting shell variables used by extension instalation scripts, that override by accident base app environment variables.
Bug issue template should have info about mandatory checking for bugs

[2022-10-27 08:52] NickDevoctomy opened #182 "Eternal download loop"
Running the first download command in my WSL distro results in a looping download process, seemingly downloading the same files over and over

`docker compose --profile download up --build`

**Hardware / Software**
 - OS: Windows 11 / Ubuntu 22.04.01 LTS WSL2 distro
 - WIndows version : 22H2 Build 22621.675
 - WSL version :  2
 - Docker Version: 4.13.0
 - Docker compose version: 2.12.0
 - Repo ver

[2022-10-27 09:07] DevilaN commented on #182
Where is the loop?
I can see, that some of files has been downloaded and others not yet.
[code]

Following info from bottom of your log fille states that those two files are remaining to download. There is no info before about finishing or redownload for those:
[code]
Can you clarify which files are being downloaded over and over?

[2022-10-27 09:11] NickDevoctomy commented on #182
I believe this is downloaded over and over

`/data/StableDiffusion/model.ckpt`

[2022-10-27 09:11] NickDevoctomy commented on #182
or is it attempting to download all files at the same time?

[2022-10-27 09:14] NickDevoctomy commented on #182
will run again, maybe the logs are confusing me.

[2022-10-27 09:23] NickDevoctomy commented on #182
Okay, my apologies, please disregard, it just seems to be much slower than it has previously been for me.  And I misread the logs thinking the same files were being downloaded over and over.

[2022-10-27 09:23] #182 closed

[2022-10-27 14:49] #135 closed

[2022-10-28 06:31] DevilaN opened #183 "Weird interface layout in automatic"
**Describe the bug**
After upgrading some time ago regular layout changed to "flex" with stretches everything to tiles and some of buttons that previously has been hidden are now visible all time.
![obraz](https://user-images.githubusercontent.com/12526613/198515562-671dbe64-0e58-4beb-b7ca-bf959e597f62.png)

**Which UI**
Auto

**Hardware / Software**
Seems not hardware / software relevant. Everyth

[2022-10-28 08:26] xiangcp commented on #115
docker compose v2
https://blog.csdn.net/hanxiaotongtong/article/details/125477514

[2022-10-28 14:07] AbdBarho commented on #183
@DevilaN I think this is the intended behaviour, I think it is related to gradio, and probably the layout changed between the different versions.

The same can be seen in `hlky`s fork.

[2022-10-29 01:33] xiangcp commented on #165
[code]
Although my docker compose version is changed to v2, it still reports an error：(root) Additional property name is not allowed

[2022-10-29 05:47] AbdBarho commented on #165
@xiangcp update to latest docker compose, mine is `2.10.2`

[2022-10-29 17:19] AbdBarho commented on #183
@DaVinniCode I am pretty sure the `history` tab was moved to an  extension https://github.com/yfszzx/stable-diffusion-webui-images-browser

[2022-10-29 18:23] Corshi opened #184 "[Suggestion] Add Mounting to extensions for AUTOMATIC1111 repo"
I just added:
`MOUNTS["${ROOT}/extensions"]="/data/extensions"`
To the mount.sh in stable-diffusion-webui-docker\services\AUTOMATIC1111

It works. Extensions can now be installed in stable-diffusion-webui-docker\data\extensions

I also added line:
`MOUNTS["${ROOT}/models/deepbooru"]="/data/deepbooru"`
Mostly because folder is created in there, but don't seem to be any mounting. I was not using it.

[2022-10-29 19:26] AbdBarho commented on #184
Duplicate #172 #148 #176

[2022-10-29 19:26] #184 closed

[2022-10-30 02:06] ryanbrackney opened #186 "Scripts in /scripts don't appear in the UI"
**Has this issue been opened before?**

- [X ] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [X ] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

I've tried to put several scripts in the /scripts folder, but none of them show up in the UI.

I have the follow

[2022-10-30 04:15] dbroesch commented on #186
I'm unable to see the script in my drop down as well after container restart

[2022-10-30 07:54] shinyone commented on #165
Had the same issue with `unknown flag profile`

Solution from another issue

`sudo apt install docker-compose-plugin`

[2022-10-30 08:42] #186 closed

[2022-10-30 08:42] AbdBarho commented on #186
The scripts folder you are mentioning has nothing to do with the container, I have created #187 with scripts support. Pull from latest master, put your scripts in `data/config/auto/scripts`, and restart the container.

the scripts folder is NOT mounted because that would overwrite the originals scripts, you have to restart the container if you update your scripts.

| | |  |
|---|---|---|
| ![downl

[2022-10-30 09:01] #148 closed

[2022-10-30 09:01] #172 closed

[2022-10-30 09:04] #7 closed

[2022-10-30 17:01] ryanbrackney commented on #186
thank you! You're an incredible contributor to this community!

[2022-10-31 06:57] lizekui commented on #165
@shinyone your solution just save me! Thanks dear everyone~

[2022-10-31 06:57] #165 closed

[2022-10-31 16:13] TWIISTED-STUDIOS commented on #114
`build: ./services/AUTOMATIC1111
 network: "host""`

I just tried this and when i try to run the command again i am then met with `services.auto Additional property network is not allowed`  any idea why?

[2022-10-31 19:49] TWIISTED-STUDIOS commented on #119
@TehFridge what was your issue and how did you resolve it because i have the same issue

[2022-10-31 21:09] DevilaN commented on #168
Newly implemented entrypoint.sh conflicts with this request, so I won't push it.

[2022-10-31 21:09] #168 closed

[2022-10-31 21:54] TWIISTED-STUDIOS commented on #114
ok so i fixed this issue using another method by adding dns to the docker desktop engine and setting a bip as well, but now I'm experiencing the bash error

[2022-10-31 22:04] DevilaN commented on #183
@AbdBarho, ok but it has been working fine with previous gradio version? Right now interface is barely useable. Basic functionality like right clicking [GENERATE] button to access "generate forever" is broken, and other things are also f-word up.

I've tried and despite of version of image has not changed between `49ad173e95bc417131f716b5d8055460f2859f89` and `1211e9c5de17a492756dfc4c3dff72fa53d52

[2022-10-31 23:06] TehFridge commented on #119
Well i didnt. I just moved to the normal version of the web-ui by AUTOMATIC1111

[2022-11-01 00:51] TWIISTED-STUDIOS commented on #119
Yh I also have the normal version installed locally, I was just curious as to the docker version and see how well it would work.

[2022-11-01 06:23] AbdBarho commented on #183
@DevilaN it is probably related to the 1000 errors in the browser's console

![image](https://user-images.githubusercontent.com/24505302/199171807-fcec7717-4de8-40bd-a195-e63eb8dc9245.png)

it seems like a problem with svelte on the gradio side.

[2022-11-01 07:29] newptcai opened #188 "How to remove a web-ui"
Let's say I don't want to use `auto` anymore. How can I safely delete it and release space on my hard drive.

[2022-11-01 08:23] AbdBarho commented on #188
you can use [docker image rm](https://docs.docker.com/engine/reference/commandline/image_rm/) and if you want to clean everything you can use [docker image prune](https://docs.docker.com/engine/reference/commandline/image_prune/)

[2022-11-01 09:02] tostt commented on #114
The context and network items must be indented as shown in the top comment.

[2022-11-01 09:22] DevilaN commented on #188
It is not so simple as it seems.
This requires some docker knowledge and training in using docker properly is beyond scope of this post as it takes quite a good amount of time and there are plenty of info online.

First of all you can view what's takings space with `docker system df`.
You need to remove associated container(s) first, because docker will not allow you to remove images that are bein

[2022-11-01 11:01] pennpeng opened #190 "failed to solve: rpc error: code = Unknown desc = failed to solve with frontend dockerfile.v0: failed to solve with frontend gateway.v0: rpc error: code = Unknown desc = dockerfile parse error on line 8: unknown instruction: cat (did you mean cmd?)"
Error：
[code]

docker version
[code]

docker compose version:
[code]

[2022-11-01 11:14] pennpeng commented on #190
[code]

[2022-11-01 13:24] AbdBarho commented on #190
it seems that your docker is not picking up on the new syntax features, can you try with

[code]
?

[2022-11-01 14:04] #188 closed

[2022-11-01 14:24] pennpeng commented on #190
I reboot  system，same problem：
[code]

[2022-11-01 15:51] AbdBarho commented on #190
why does it take 15 seconds to resolve the config?
[code]

are you running offline? using a proxy? docker is probably unable to resolve the config, which is the reason why it does not work?

[2022-11-01 21:01] DevilaN commented on #119
There are many possible problems that will end up with too many levels of symbolic links.

Best shot here is to try from start by removing everything from docker directories and rebuild containers.
Warning: ***THIS IS DESTRUCTIVE OPTION FOR DOCKER IMAGES AND CONTAINERS EXISTING IN SYSTEM***
1. Clear everything with `docker system prune -a`.
2. Build webui with `docker compose --profile auto up --b

[2022-11-02 03:36] #107 closed

[2022-11-02 04:08] ProducerMatt opened #191 "Auto: "Interrogate CLIP" not working"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

Clicking "Interrogate CLIP" in AUTO gives the following error:
[code]

Googling suggests that this issue happens w

[2022-11-02 07:47] DevilaN commented on #183
@AbdBarho, I don't have those errors. Only warnings from svelte about no corresponding translation to interface elements for my browser default language settings. Would you be so kind to provide some of those error messages? I hope it would lead us to actual source of problem.

[2022-11-02 09:07] klaribot opened #192 "SD creates image, image is not uploaded to Automatic1111 UI for viewing"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

So, StableDiffusion is successfully taking my prompts from Auto's UI, but when it finishes generating, it doesn't

[2022-11-02 09:48] DevilaN commented on #192
For me docker runs the same very container, which has been stopped with Ctrl+C.
You might consider stopping container with Ctrl+C, then `docker compose --profile auto down` to cleanup container, and regular `docker compose --profile auto up` to start it. This will make sure that there are no leftovers from previous sessions in container (there might be some in bind mounted volumes, but let's not b

[2022-11-02 11:12] DevilaN commented on #192
OK, but there are no images in webui from the very beginning or you still got them on first run, and then after restarting container error happens?

[2022-11-02 13:06] DevilaN commented on #192
Do you have anything in `data/config/auto/startup.sh` file? If yes, then please share it's contents with us - it would help debugging your issue.

[2022-11-02 19:11] AbdBarho commented on #183
Ok now for whatever reasons the errors don't appear in the console. weird.

That being said, if you didn't see the errors yet you saw the weird layout, these error are probably unrelated.

[2022-11-02 19:12] AbdBarho commented on #192
@klaribot can you delete `config.json` and `ui-config.json` in `data/config/auto/` and try again? feel free to create a backup of those files first.

If this does not resolve your issue, then it might be an upstream problem.

I have restarted the container a couple of times and I could not reproduce the problem.

[2022-11-02 19:42] AbdBarho commented on #191
@ProducerMatt can you try to disable the deforum extensions and see  if that works?

just comment out the line:
[code]
in `data/config/auto/startup.sh` and see if it works.

[2022-11-03 02:41] ProducerMatt commented on #191
Good catch! commenting it out lets BLIP work again. 👍

I wondered if it was overwriting a previous `$PYTHONPATH`, so I tried changing the line so it was prepending, like `export PYTHONPATH="$MIDAS_PATH:$PY3D_PATH:$FOOBAR_PATH:$PYTHONPATH`, but I got an error that $PYTHONPATH wasn't defined yet. So maybe it's preventing a new $PYTHONPATH from being set?

Side note, when BLIP is working, I get this

[2022-11-03 05:56] #192 closed

[2022-11-04 03:24] pirahtays commented on #183
I was having the same issue and took a look here.  Looks like that colab has 3 post fixes it applies to the A1111 repo

[code]

I was able to apply this same patch and it appears to have corrected the issue:
[code]

I haven't investigated yet fully why this is needed unless it's just a bug in the A1111 repo.

[2022-11-04 08:55] DevilaN commented on #183
Yup! That fixes it!
@pirahtays: Your patch places fixes in a place that would bust docker cache and image layers. It would be better to place fixes on the bottom of Dockerfile, so it is applied anyway.

[2022-11-04 09:01] DevilaN commented on #191
@AbdBarho:
Couple of things to think of:
1. We need some easy method to run service with clean container without any additional bloatware extensions with user inputted scripts, so it will be easy test to check whether bug shows up with "clean state of app" or not. Probably there shoud be default config jsons as well. We could think of some environment variable and modification of MOUNTS array in e

[2022-11-04 13:53] pirahtays commented on #183
I'm not seeing that happen when I run.  Where it's placed it's only going to bust the cache if those lines change or the webui code changes which would require the cache to be busted?

[code]

[2022-11-04 22:00] AbdBarho commented on #183
@pirahtays it works! I chose another hacky way to solve it #196

I guess this is either a misconfiguration in the setup of this project, or a problem upstream.

eitherway, it looks way more usable now.

[2022-11-04 22:06] GBora commented on #63
I have Pytorch installed via pip on my machine, what do I need to modify in the docker file to get AMD working?

[2022-11-04 22:29] #183 closed

[2022-11-05 00:51] raldnor opened #197 "Feature request - Please add stable-diffusion infinity"
Thanks for this excellent project! Would it be possible to add stablediffusion-infinity (https://github.com/lkwq007/stablediffusion-infinity/)?

[2022-11-05 07:40] AbdBarho commented on #197
@raldnor I have considered this in the past, however, the project already has a docker setup, so I don't see the added benifit.

Maybe if it would be integrated as a  webui extension then it will be easier to use here https://github.com/lkwq007/stablediffusion-infinity/issues/136

[2022-11-05 07:47] AbdBarho commented on #191
@DevilaN
1. agree, in our case, this reduces to not running `startup.sh` on startup (if I am not missing anything)
2. I am assuming the installation would be: _download the extension to the `extensions` folder_. the only question would be how to manage the additional dependencies for the extension, I know that the UI runs `install.py` of an extension if it finds it
https://github.com/AUTOMATIC1111

[2022-11-05 15:32] GeorgiaM-honestly opened #199 "Auto: Extensions Tab: Installing: OSError: [Errno 18] Invalid cross-device link: '/stable-diffusion-webui/tmp/sd-dynamic-prompts' -> '/stable-diffusion-webui/extensions/sd-dynamic-prompts'"
**Has this issue been opened before?**

- [x] It is not in the [FAQ]( https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ ), I checked.
- [x] It is not in the [issues]( https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=Invalid+cross-device+link ), I searched.

**Describe the bug**

When attempting to install extensions under the extensions tab (NOTE: webuy.py must b

[2022-11-05 16:30] AbdBarho commented on #199
@GeorgiaM-honestly I hacked it quickly, can you try from the branch #200 if it works?

[2022-11-05 16:45] GeorgiaM-honestly commented on #199
Hello, I'm not a developer or anything like that and I am not entirely sure what you mean. So I hate to do this to ya however... How do I proceed? Thanks for the super fast weekend response!

[2022-11-05 16:48] AbdBarho commented on #199
@GeorgiaM-honestly  Did you clone this repository with `git`? or did you just download it as a zip file?

[2022-11-05 16:50] GeorgiaM-honestly commented on #199
I used git clone.

[2022-11-05 16:52] AbdBarho commented on #199
great, open a terminal in the repo and run the following:
[code]
and then you can try to install the extensions again:
[code]

[2022-11-05 17:02] GeorgiaM-honestly commented on #199
That works! The only issue, which doesn't affect functionality, is during install the animated square / timer counting up is listed twice.

Anything else you'd like me to do?

[2022-11-05 17:06] AbdBarho commented on #199
I have merged the branch to master, don't forget to switch back:
[code]

[2022-11-05 17:08] AbdBarho commented on #63
@GBora that's great! unfortunately, I have no experience of working with AMD GPUs and docker for deep learning. Maybe this link above could help guide you.

I would guess the changes would probably be related to the base image and the deploy config in docker compose, but this is just a guess.

[2022-11-05 17:09] #199 closed

[2022-11-06 01:27] Corshi opened #201 "new DPM-Solver++ samplers added to k-diffusion inside AUTOMATIC1111 / stable-diffusion-webui"
New samplers ware added to the auto repo but they do not work within docker's webui
https://github.com/AUTOMATIC1111/stable-diffusion-webui/pull/4304

In the final release the naming is different then in pull req
modules/sd_samplers.py
position 27 and 28
[code]
position 34 and 35
[code]

WEBUI AUTOMATIC1111 (auto)

**Hardware / Software**
OS: Windows 11
OS version: 2aH2 22000.652
Docker&compose ve

[2022-11-06 10:32] AbdBarho commented on #191
upstream https://github.com/AUTOMATIC1111/stable-diffusion-webui/issues/4380

[2022-11-06 21:38] Keavon opened #204 "Moving the `--theme dark` flag from Dockerfile to docker-compose.yml"
Since not everyone wants the dark theme in the AUTOMATIC1111 web UI, wouldn't it make more sense to move the `--theme dark` flag into the environment variables set in `docker-compose.yml`? I currently track your repository but I have one commit that I rebase which just changes those environment variables in `docker-compose.yml` (removing `--allow-code --medvram` and adding `--api` for my purposees

[2022-11-06 23:14] kelvie commented on #201
You just need to update k-diffusion in the Dockerfile manually to workaround this:

[code]

[2022-11-07 00:46] #122 closed

[2022-11-07 05:52] AbdBarho commented on #204
@Keavon I removed it in #205

that being said, you don't an extra commit that you have to always rebase for this, you can leave the original docker compose file as is, and create a `docker-compose.override.yml` and put this in it:
[code]

[2022-11-07 06:01] AbdBarho commented on #201
Added in #205

[2022-11-07 06:02] #201 closed

[2022-11-07 06:02] #204 closed

[2022-11-07 06:03] Keavon commented on #204
Awesome, that's very helpful. Thank you for that tip! And I see that that override also `.gitignore`d, handy.

[2022-11-07 08:05] DevilaN commented on #183
@pirahtays As this issue has been closed, this pos  is only for educational value here.
The log output from build you've provided was created after first build with your changes. Each step is already cached in build cache.
If you change anything in step `[stage-2 11/15]`, then following steps cannot be pulled from build cache because docker does not have any knowledge whether your change in step 1

[2022-11-07 12:33] raldnor commented on #197
Thanks for your response! I understand the reasoning. The benefit would be (for me at least) that the location of the models is the same between all the various frontends.

[2022-11-07 13:35] DevilaN commented on #197
@raldnor, but you can bind-mount them from single directory in different projects so there is no need to duplicate model files between different services.

[2022-11-07 15:03] sonicviz opened #206 "Fails to run Win 11 -> invalid character 's' looking for beginning of value"
**Has this issue been opened before?**

- [ ] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [ ] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

Ran initial build finished ok.

Tried to run
docker compose --profile auto up --build
[+] Building 474.1s (41/41)

[2022-11-07 16:01] #206 closed

[2022-11-08 00:47] #145 closed

[2022-11-08 00:47] #144 closed

[2022-11-08 04:50] MrDj200 commented on #169
would I just need to put the `docker-compose.override.yml` right next to the main `docker-compose.yml`?

[2022-11-08 18:10] raldnor commented on #197
Yes, that's right, it's just slightly less convenient ;)

[2022-11-08 20:31] DevilaN commented on #197
@raldnor, once done in `docker-compose.override.yml` will work for long time without any problems :-)

[2022-11-09 08:41] raldnor commented on #197
Thanks! I'll look into it.

[2022-11-09 08:52] abelzhyb opened #209 "github branch main or master？"
when I exec docker compose --profile [ui] up --build ，
https://github.com/TencentARC/GFPGAN    master
git+https://github.com/openai/CLIP            main

get error info below:

#0 0.207 + pip install opencv-python-headless git+https://github.com/TencentARC/GFPGAN.git@8d2447a2d918f8eba5a4a01463fd48e45126a379 git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1 pyngrok
#0

[2022-11-10 16:35] schrummy14 opened #210 "Quadro 4000 Not supported On hlky and auto"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

Quadro 4000 nvidia cards with latest drivers are not detected by either UI.

**Which UI**

hlky and auto (have not

[2022-11-10 20:43] AbdBarho commented on #210
@schrummy14 could you provide some error logs? did it work before the latest driver?

[2022-11-10 20:45] AbdBarho commented on #209
@abelzhyb it seems like a network failure, what happens if you try again?

[2022-11-10 20:50] GeorgiaM-honestly commented on #209
I have seen sporadic temporary failures to resolve github.com in numerous sitations and haven't been able to figure it out. If it persists, at least on linux or linux-like operating systems I do this on a *temporary* basis:

- Get an IP of github.com: dig +short github.com
- Edit /etc/hosts and append the following line:
the-ip-you-got[tab]github.com
- Try again
- Remove that line later

This is a

[2022-11-10 20:55] schrummy14 commented on #210
Hello,
I have not tried other drivers just the latest driver available on ubuntu.
During the building processes it prints "Warning: caught exception 'Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx'".

Running the command "docker compose --profile auto up --build" simply exits with "Error response

[2022-11-10 20:58] AbdBarho commented on #209
@GeorgiaM-honestly I have the same problem occasionally, this is likely a problem with github servers, not your local machine.

[2022-11-10 20:59] AbdBarho commented on #210
what is the output if you type `nvidia-smi` in the console?

[2022-11-10 21:00] schrummy14 commented on #210
`Thu Nov 10 15:00:28 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 390.154                Driver Version: 390.154                   |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage

[2022-11-10 21:04] AbdBarho commented on #210
`390.154` is really really old, you need >= `418.81.07` as per the nvidia container toolkit docs: https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#installation-guide

Also, 2GB of GPU is probably not enough to use any UI, but you can try.

[2022-11-10 21:14] schrummy14 commented on #210
I haven't found any newer drivers for the Quadro 4000. As far as I can tell, it will always stay in the 300s. No worries. We can close this out.

[2022-11-10 22:05] #210 closed

[2022-11-11 06:33] lolihopper opened #214 "Fresh install error"
Getting this error when I try and install.

   File "C:\stable-diffustion-webui-master\modules\__init__.py", line 3, in <module>
          from jsonmerge.jsonvalue import JSONValue
ModuleNotFoundError: No module named 'jsonmerge'

I have tried to use "pip install jsonmerge" as well as uninstalling and reinstalling and nothing seems to work.
No clue what could be the issue.

[2022-11-11 06:37] AbdBarho commented on #214
@lolihopper please use the template, I can't help like this.

Also, it seems that this is the wrong repo for the issue you are creating.

[2022-11-11 06:37] lolihopper commented on #214
ah im dumb lol

[2022-11-11 06:39] #214 closed

[2022-11-11 14:08] s524797336 commented on #190
It is a Docker+wsl bug related to this issue https://github.com/docker/for-win/issues/11261

[2022-11-11 14:27] s524797336 commented on #190
Try edit file (~/.docker/config.json)  to {"_credsStore":"desktop.exe"}

[2022-11-11 17:44] Rizz226 opened #216 "sd-webui-tagcomplete fails to load in Auto"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [X] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**
tag-autocomplete (and other extensions maybe?) fail to start due to missing files in ../repositories/stable-diffusi

[2022-11-11 18:07] AbdBarho commented on #216
@Rizz226 the extensions folder is mounted, so copying should not be necessary, I am not sure what the problem is or what the PR solves.

[2022-11-11 19:23] AbdBarho commented on #216
@Rizz226 you are correct extensions is out of reach of this repo.

That being said, you can try to hack around it in your `starup.sh`, you can maybe `sed` replace the line or run your own python script that does the same, or even manually change it.

[2022-11-12 16:59] mrauhu opened #218 "Broken Dreambooth Extension for the Stable Diffusion Web UI (`auto`)"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

Dreambooth Extension not working, because of:

* different CUDA version for `torch`, the right one is installed vi

[2022-11-12 17:28] AbdBarho commented on #218
@mrauhu there are 2 points here:

1. if you want to install any additional dependencies for any extension, you can create a script `data/config/auto/startup.sh` and put whatever commands you want in it:
[code]
No need to modify the container

2. that being said, if the auto webui works with the newer pytorch versions without any problems, we can change the default version in the container, no need

[2022-11-12 18:16] mrauhu commented on #218
1. It's good solution for the installing dependencies via APT.
PyTorch is heavy and installing it in the `startup.sh` will be add ~2GB to the total container size.

2. It's great, if you can update a version of the PyTorch in the `auto/Dockerfile`.

[2022-11-12 18:25] AbdBarho commented on #218
@mrauhu I will test the auto UI with the new pytorch version and update it tomorrow.

[2022-11-13 06:12] #218 closed

[2022-11-13 06:12] AbdBarho commented on #218
cu11.6 seems to work fine, it is now the default

[2022-11-13 14:55] Corshi opened #223 "Failed to build pycocotools; A new release of pip available: 22.2.2 -> 22.3.1; No module named 'accelerate'"
[code]

Webui works fine really. I just see those errors every time I run it, and it bothers me. It happens for some days now.

_WEBUI AUTOMATIC1111 (auto)
Hardware / Software:_

    OS: Windows 11
    OS version: 2aH2 22000.652
    Docker&compose version: Latest
    RAM: 32GB
    GPU/VRAM: 8GB

[2022-11-13 15:13] AbdBarho commented on #223
@Corshi this is probably related to the dreambooth extension, or maybe some
 other extension, can you remove theem and see if the error remains?

[2022-11-13 16:57] flamz3d opened #224 "model.ckpt not found when deployed to GCP Cloud Run"
I built and ran this docker on a linux VM without a hitch, then tagged and pushed the image to GCP so I can run it via Cloud Run
Everything seems to go well, until I get

**Can't run without a checkpoint. Find and place a .ckpt file into any of those locations. The program will exit.**

here's the full log:

`mkdir: created directory '/data/.cache'
Mounted .cache
mkdir: created directory '/data/LD

[2022-11-13 17:12] AbdBarho commented on #224
you need to download the data / models and mount them correspondingly. the image is just code, it cannot do anything on its own.

basically, all of the stuff is downloaded to a folder called `data`, which should be mounted to `/data` in the container.

see the setup instructions in the wiki and the `docker-compose.yml` in for more info.

[2022-11-13 17:16] AbdBarho commented on #224
Also, due to the structure of this repo, and the amount of data required, I don't think cloud run is the right tool, maybe compute engine vms are a better fit.

[2022-11-14 00:44] #162 closed

[2022-11-14 00:44] #151 closed

[2022-11-14 00:59] Narimm commented on #158
Can I just say that marking this issue as complete because you found a work around is short sighted.  Clearly there is a bug in 'docker compose' that occurs in the following way:

Launch a container manually - using an image defined in a separate compose file .
Launch a compose file - which launches the same image theoretically as a new container.

Solving the problem By removing all containers NO

[2022-11-14 01:26] Corshi commented on #223
Oh sorry then. I did moved all the extensions out of the folder and errors are gone.
I did tried with only sd_dreambooth_extension at first, but it was not it - at least not only.

I will keep more attention to what extensions do that next time.

Thanks for the answer.

[2022-11-14 08:56] #223 closed

[2022-11-17 00:45] #174 closed

[2022-11-17 02:43] xiangcp commented on #190
`
# docker compose  --profile auto  up --build
[+] Building 15.6s (6/6) FINISHED
 => [internal] load build definition from Dockerfile                                                                                       0.0s
 => => transferring dockerfile: 32B                                                                                                        0.0s
 => [internal] load .dockerigno

[2022-11-17 18:55] samos123 commented on #70
You can also use the standard Ubuntu 22.04 image on AWS however you just need to install the nvidia drivers and container toolkit like this:
[code]

Steps taken from nvidia docs

[2022-11-18 06:54] chenhaoenen opened #229 "docker hub"
Thanks a lot for a great article, I cant build images from Dockerfile, because of the network, Is there a corresponding docker hub link?

[2022-11-19 15:39] DominikDoom commented on #216
To give some insight into this as the dev of tag-autocomplete, at least from the error message the issue seems to be that the working directory is different from the execution directory of the webui, leading to failing path checks.

My extension needs to know the location of some files relative to the root since I need to access them in the client-side JavaScript, which only allows direct requests

[2022-11-19 16:41] AbdBarho commented on #216
@DominikDoom thank you for the insights! this makes the problem a lot clearer.

I remember from the early beginning that the webui should have cwd of the original compviz repo under `repositories` folder, but I think I have seen some code that indicates that this is not necessary anymore.

Anyway, I created a pull request with the adjusted cwd: https://github.com/AbdBarho/stable-diffusion-webui-do

[2022-11-19 17:11] DominikDoom commented on #216
Yeah, that seems to be a bigger issue.
Gradio serves all files in the app root and subfolders by default. All other local files aren't accessible for safety. I think there are so many different IDs in the message because Gradio seemingly keeps separate temp directories to serve each block: https://github.com/gradio-app/gradio/blob/831ae1405f0f2cddf8d508775731eef39c5a09df/gradio/routes.py#L253-L256

[2022-11-19 17:22] AbdBarho commented on #216
@DominikDoom in the gradio link you sent: https://github.com/gradio-app/gradio/blob/831ae1405f0f2cddf8d508775731eef39c5a09df/gradio/routes.py#L230 The path seems to be in the form of `file=...`, but in the fetch call https://github.com/DominikDoom/a1111-sd-webui-tagcomplete/blob/fc4484ddc6fbcd16b9f1ae311243c9696308675a/javascript/tagAutocomplete.js#L695, it is `file/${tagBasePath}/config.json`, do

[2022-11-19 17:32] DominikDoom commented on #216
Good to know that that url form seems to be deprecated in favor of the `file=...` one. I tried just now to make sure, on my local installation both work as expected.

[2022-11-19 17:43] AbdBarho commented on #216
@DominikDoom it seems that I found the problem

TLDR: it is related to the mounts / symlinks in the docker container.

For debugging, I added
[code]
right before this line https://github.com/gradio-app/gradio/blob/831ae1405f0f2cddf8d508775731eef39c5a09df/gradio/routes.py#L234
and got:
[code]
instead of the expected
[code]

`/data/config/auto` is the folder in which the extensions are saved and lat

[2022-11-19 18:04] spuliz commented on #165
When I run sudo apt install docker-compose-plugin I get "No package docker-compose-plugin available."

[2022-11-19 18:12] DominikDoom commented on #216
So is the problem that Gradio uses the original path when it should be the symlinked path? That seems tricky to solve.

A hard copy of the extensions would work, but they will be lost once the container is deleted.

I'm not familiar with docker so I don't think I will be of much help in that regard. The only thing I found regarding a similar issue is using `readlink -f` to get the actual file path

[2022-11-20 00:49] #115 closed

[2022-11-20 07:29] shinyone commented on #165
what are your versions?  You need V2

[code]

[2022-11-20 07:56] AbdBarho commented on #229
We continue in #228

[2022-11-20 07:56] #229 closed

[2022-11-20 19:59] spuliz opened #235 "Error when running docker compose --profile lstein up --build"
docker compose --profile lstein up --build

 => ERROR [ 6/10] RUN <<EOF (git reset --hard 2b7e3abe57963d199f1d825ddef87ae154c81045...)                                                                                                                                                                                                                            0.4s
------

#0 0.413 + git reset --hard 2b7e3

[2022-11-20 20:00] #235 closed

[2022-11-20 20:01] spuliz commented on #235
this was happening on a forked version of InvokeAI repo.

[2022-11-21 20:21] LeagueOfPoro opened #236 "Images not saved to subdirectories (auto)"
**Has this issue been opened before?**

- [x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

Images are saved directly to  `/output` directory instead of a subdirectory like `/output/txt2img`

**Which UI**

[2022-11-23 04:15] raysworld commented on #190
I am not quite sure why this is happening, but this problem is solved for me with the following changes:
1. navigate to /services/[auto/hlky] folder
2. open Dockerfile with your text editor
3. navigate to RUN commands that break to several lines, e.g.
[code]
4. add \ to the end of each of these lines, that is
[code]

[2022-11-23 05:38] chenhaoenen commented on #229
thanks for your reply

[2022-11-23 17:54] AbdBarho commented on #236
@LeagueOfPoro why is this a problem?

if we want to change the folders, we also have to update it for the other UI's, this will be a breaking change and will require a major version bump

[2022-11-25 22:57] Sulexa opened #242 "Add --enable-insecure-extension-access to install extension with auto"
**Has this issue been opened before?**

- [ x] It is not in the [FAQ](https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/FAQ), I checked.
- [ x] It is not in the [issues](https://github.com/AbdBarho/stable-diffusion-webui-docker/issues?q=), I searched.

**Describe the bug**

When trying to install an extension i have this :
[Bug]: AssertionError: extension access disabed because of com

[2022-11-26 07:20] AbdBarho commented on #242
@Sulexa that is the intended behavior:

https://github.com/AbdBarho/stable-diffusion-webui-docker/wiki/Usage#extensions

maybe we should enable it by default.

[2022-11-26 12:26] Sulexa commented on #242
Oh my bad, i did not see there was an entry in the wiki for extensions.
Now that there is a tab to install extension maybe it should be ? The error is not clear when you try to install an extension without --enable-insecure-extension-access through the UI...

[2022-11-26 14:45] #242 closed

[2022-11-29 00:42] #191 closed

[2022-11-30 00:42] #169 closed

[2022-11-30 09:59] LeagueOfPoro commented on #236
Saving images into directories based on the method used (e.g. txt2img) is the default behavior of the Auto.

The folders are even created in `entrypoint.sh`:
`mkdir -p /output/saved /output/txt2img-images/ /output/img2img-images /output/extras-images/ /output/grids/ /output/txt2img-grids/ /output/img2img-grids/`